.course-box {
    cursor: pointer;
    border: 1px #2d2d2d solid;
    border-color: rgba(1, 1, 1, 0.1);
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(1, 1, 1, 0.1);
    background-color: white;
    height: 400px;
    width: 23%;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 20px;
    text-align: center;
    padding: 1% 1% 1% 1%;
    position: relative;
}

.course-box h2 {
    text-align: center;
}

.course-box:hover {
    background-color: #efefef
}

.vertical-content-nav-bar {
    padding-left: 0px;
    padding-right: 0px;
    border: 1px #2d2d2d solid;
    border-color: rgba(1, 1, 1, 0.1);
    height: 100%;
}

.vertical-content-nav-bar-scrollable-list {
    overflow: auto;
    height: 70%;
}

.vertical-content-nav-bar-scrollable-list::-webkit-scrollbar {
    width: 12px;
}

.vertical-content-nav-bar-scrollable-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.vertical-content-nav-bar-scrollable-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.vertical-content-nav-bar-title {
    width: 100%;
    padding-left: 20px;
    height: 15%;
    border-bottom: 2px #000000 solid;
}

.vertical-content-nav-bar-course-title-text {
    cursor: pointer;
    color: gray;
}

.vertical-content-nav-bar-course-title-text:hover {
    color: #978FBA;
    text-decoration: none;
}

.vertical-side-bar-item-center-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.vertical-side-bar-item-text {
    padding-left: 40px;
}

.vertical-side-bar-item:hover {
    background-color: rgba(149, 206, 100, .9);
}

.vertical-side-bar-item {
    width: 100%;
    transition: background-color 0.1s linear;
    cursor: pointer;
    border-bottom: 1px #2d2d2d solid;
    border-color: rgba(1, 1, 1, 0.1);
    min-height: 80px;
    display: table;
}

.vertical-content-nav-bar-item {
    width: 100%;
    position: relative;
    transition: background-color 0.1s linear;
    cursor: pointer;
    border-bottom: 1px #2d2d2d solid;
    border-color: rgba(1, 1, 1, 0.1);
    min-height: 80px;
}

.vertical-content-nav-bar-title-text {
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 3px;
}

.vertical-content-nav-bar-item-text {
    font-size: 15px;
    margin-left: 60px;
    line-height: 40px;
    font-weight: 200;
    color: #929292;
}

.vertical-side-bar-item-icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.vertical-side-bar-item-icon-text {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    padding-left: 10px;
}

.vertical-content-nav-bar-next-section-box {
    width: 100%;
    transition: background-color 0.1s linear;
    cursor: pointer;
    border-top: 1px #2d2d2d solid;
    border-color: rgba(1, 1, 1, 0.1);
    position: relative;
    height: 15%;
}

.vertical-content-nav-bar-next-section-box-label {
    width: 100%;
    position: relative;
    padding-left: 20px;
    height: 15%;
    border-top: 2px #000000 solid;
}

.vertical-content-nav-bar-next-section-box-label-text {
    font-weight: 900;
    font-size: 16px;
    margin-top: 20px;
    line-height: 60px;
    letter-spacing: 2px;
    color: #444444;
}

.vertical-content-nav-bar-next-section-box-icon {
    position: absolute;
    top: 20px;
    left: 15px;
}

.vertical-content-nav-bar-next-section-box-text {
    margin-left: 80px;
    line-height: 80px;
    color: #929292;
}

.no-padding-wrapper {
    margin-left: -80px;
    margin-right: -80px;
}

#contentarea {
    width: auto;
    overflow: hidden;
    margin-left: 260px;
    padding-left: 80px;
    padding-right: 80px;
}

.vertical-side-bar-container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 260px;
    height: 100vh;
    float: left;
    background-color: green;
    position: relative;
}

.vertical-side-bar-top-box {
    background-color: #F9F9F9;
    border-right: 1px #2d2d2d solid;
    border-bottom: 1px #2d2d2d solid;
    border-color: rgba(1, 1, 1, 0.1);
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    padding: 10px 20px 10px 20px;
    border-color: rgba(1, 1, 1, 0.1);
}

.vertical-side-bar-top-box-title {
    font-size: 20px;
}


.carousel-step {
	width: 100%;
}

.carousel-step-info {
	width: 100%;
	height: 100px;
	overflow: hidden;
	background-color: #2A71A9;
	text-align: center;
}

.carousel-step-video {
	width: 100%;
}

#carousel-wrapper {
	width: 100%;
}


.vertical-side-bar-middle-box {
    border-right: 1px #2d2d2d solid;
    border-color: rgba(1, 1, 1, 0.1);
    background-color: #F9F9F9;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.vertical-side-bar-middle-box::-webkit-scrollbar {
    width: 12px;
}

.vertical-side-bar-middle-box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.vertical-side-bar-middle-box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.vertical-side-bar-bottom-box {
    border-right: 1px #2d2d2d solid;
    border-top: 1px #2d2d2d solid;
    border-color: rgba(1, 1, 1, 0.1);
    background-color: #F9F9F9;
    width: 100%;
    height: 100px;
    padding: 5px 20px 10px 20px;
}

.vertical-side-bar-bottom-box-next {
    margin-bottom: 10px;
}

.vertical-side-bar-bottom-box-next-module-icon {
    display: inline-block;
    vertical-align: middle;
}

.vertical-side-bar-bottom-box-next-module-text {
    margin-bottom: 0px;
    color: #555;
}

.vertical-side-bar-bottom-box-next-module-title {
    display: inline-block;
    vertical-align: middle;
    max-width: 60%;
    padding-right: 10px;
    padding-left: 10px;
}

.vertical-side-bar-top-bottom-next {
    color: #31B4E7;
    cursor: pointer;
    margin-top: 15px;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 260px;
}

.container-sidepadder {
    padding-left: 6%;
    padding-right: 6%;
}

.tutorials-jumbotron-settings {
    height: 400px;
    margin-bottom: 0px;
    background-color: #2E91BC;
    background-position: 50% 20%;
    background-size: 100%;
    position: relative;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.tutorials-jumbotron-settings img {
    border-radius: 100%;
    border: 10px solid white;
}

.tutorials-jumbotron-settings h2 {
    font-size: 30px;
    margin-top: 0px;
}

.tutorials-jumbotron-settings p {
    margin: 0 0 26px;
    font-size: 16px;
    line-height: 140%;
}

.tutorials-below-jumbotron-text {
    background-color: #6CB7C7;
    text-align: center;
    font-size: 25px;
    line-height: 300%;
    color: #333333;
}

.course-box-container {
    margin-top: 20px;
    margin-left: -1%;
    margin-right: -1%;
    margin-left: -1%;
}

.module-content-browser-box {
    border-top: 1px #2d2d2d solid;
    border-right: 1px #2d2d2d solid;
    border-color: rgba(1, 1, 1, 0.2);
    border-radius: 0 5px 5px 0px;
    box-shadow: 2px 2px 1px rgba(1, 1, 1, 0.1);
    background-color: white;
    min-height: 600px;
    margin-bottom: 20px;
    margin-left: 226px;
    padding-left: 30px;
    padding-right: 30px;
}

.module-content-browser-box-tabs {
    width: 226px;
    float: left;
    border-radius: 30px 0px 0px 30px;
    border-top: 1px #2d2d2d solid;
    border-left: 1px #2d2d2d solid;
    border-bottom: 1px #2d2d2d solid;
    border-color: rgba(1, 1, 1, 0.2);
}

.module-content-browser-box-tab-inner {
    border-right: 1px solid black;
    border-bottom: 2px solid black;
    border-color: rgba(1, 1, 1, 0.2);
    padding: 20px;
    height: 80px;
    background-image: linear-gradient(to bottom, #FFFFFF, #EAEAEA);
}

.module-content-browser-box-tab-inner p {
    position: relative;
    top: 10px;
}

.module-content-browser-box-tab-inner:first-child {
    border-radius: 30px 0px 0px 0px;
}

.module-content-browser-box-tab-inner:last-child {
    border-radius: 0px 0px 0px 30px;
}

.module-content-browser-box {
    padding-top: 20px;
}

.module-content-browser-box-tab-inner:first-child:hover {
    border-radius: 30px 0px 0px 0px;
}

.module-content-browser-box-tab-inner:hover {
    background-image: none;
    background-color: #2E92BE;
}

.module-content-browser-box-tab-inner:last-child:hover {
    border-radius: 0px 0px 0px 30px;
}

.module-content-browser-box-tab-inner:last-child {
    border-bottom: none;
}

.module-content-browser-box-wrapper {
    margin-top: 40px;
}

.course-modules-wrapper {
    display: none;
    '
}

.nextStepButton:hover {
    background-color: gray;
}

.prevStepButton:hover {
    background-color: gray;
}

.nextStepButton {
    position: absolute;
    top: 40%;
    right: -40px;
    z-index: 1;
    border-radius: 100%;
    background-color: #C7E0D7;
    height: 35px;
    width: 35px;
    color: white;
    text-align: center;
    padding-top: 8px;
}

.vertical-side-bar-top-box-back {
    color: #31B4E7;
    cursor: pointer;
    height: 30px;
    width: 50%;
}

.app-get-qr-code {
    width: 200px;
    height: 200px;
    background-color: green;
    display: inline-block;
    float: right;
}

.app-get-app-inner-container {
    text-align: center;
    width: 100%;
    margin-top: -28px;
}

.inner-app-description-container {
    max-width: 80%;
}

.app-get-apk-btn {
    width: 200px;
    height: 200px;
    background-color: yellow;
    display: inline-block;
    float: left;
}

.app-title {
    background-color: #2A71A9;
    line-height: 80px;
    padding-left: 20px;
    font-size: 22px;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.app-description-container {
    width: 100%;
    height: 300px;
    font-size: 18px;
    background-color: green;
}

.app-btns-container {
    width: 100%;
    height: auto;
    padding: 1.0% 0.5% 1.0% 0.5%;
}







.app-base-stuff-wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.app-download-src-container {
    width: 100%;
    background-color: green;
    min-height: 280px;
    font-size: 18px;
    background-color: rgba(57, 177, 164, .9);
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}

.app-download-src-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 15px;
}

.app-download-src-btn {
    width: 200px;
    height: 200px;
    background-color: yellow;
    float: left;
    margin-right: 90px;
    border-radius: 1000%;
    text-align: center;
    font-size: 104px;
    color: black;
    padding-top: 32px;
    padding-left: 8px;
}

.app-base-padding {
    background-color: yellow;
}

.app-download-src-text {
    
}


.or-text {
    position: relative;
    top: 100px;
}

.app-download-btn {
    width: 164px;
    margin: 10px;
}

.relative {
    position: relative;
}

.app-download-btns-container {
    text-align: center;
    width: 100%;
}

.app-get-app-container {
    padding: 0px 80px 25px 80px;
    text-align: center;
    position: relative;
}

.center {
    text-align: center;
}

.prevStepButton {
    position: absolute;
    top: 40%;
    left: -40px;
    z-index: 1;
    border-radius: 100%;
    background-color: #C7E0D7;
    height: 35px;
    width: 35px;
    color: white;
    text-align: center;
    padding-top: 8px;
}

.carousel-step-container-wrapper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.carousel-step-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.selected-tab {
    background-color: white;
    background-image: none;
    border-right: none;
}

.selected-tab:first-child {
    border-radius: 30px 0px 0px 0px;
}

.selected-tab:last-child {
    border-radius: 0px 0px 0px 30px;
}









/* A magic responsive general container for placing content inside of on the app page.
 * 
 * -Will always center itself in the parent.
 * -Will maintain a width of 900px until screen is to small, then width becomes 97% of parent.
 * 
 *  NOTE: This class is designed for the app page only because of the width settings,
 *  	  it won't make sense on other pages!
 */
.app-content-section {
    position: relative;
    margin: 0 auto 0 auto;
    width: 900px;
    height: auto;
}



.app-header-left {
	width: 55%;
	font-size: 20px;
	margin-top: 40px;
	height: 450px;
	float: left;
	padding-left: 4%;
	padding-top: 50px;
}


.app-header-right {
	width: 45%;
	height: auto;
	float: left;
	font-size: 18px;
	margin-top: 40px;
}


.app-phone {
	background-image: url('/assets/img/Generic-Android.png');
	height: 400px;
	width: 232px;
	text-align: center;
	margin-left: 10%;
	margin-right: auto;
}

.app-screenshot {
	margin-top: 42px;
	height: 291px;
	width: 176px;
}


/* A responsive container for buttons on the app page*/
.app-btn-section {
	width: 100%;
	position: relative;
    margin: 0 auto 0 auto;
    min-height: 200px;
    background-color: white;
    overflow: auto;
    margin-top: 60px;
}



/* A responsive button for getting content on the app page, 
 * The styling assumes, their are 4 buttons!
 */
.app-btn {
    width: 25%;
    height: 400px;
    float: left;
    cursor: pointer;
    text-align: center;
	background-color: white;
	padding-top: 30px;
	border-top: 1px #2d2d2d solid;
	border-left: 1px #2d2d2d solid;
	border-bottom: 1px #2d2d2d solid;
	border-color: rgba(1, 1, 1, 0.1);
}

.app-btn p, .app-btn h4 {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}


.app-btn:first-child {
	border-left: none;
}

/* app-base responsive stuff */
@media ( min-width : 0px) and (max-width : 1160px) {
    .app-content-section {
        width: 97%;
    }
    
}




/* tiny screens ----------- */
@media ( min-width : 624px) and (max-width : 1300px) {
    .course-box {
        cursor: pointer;
        border: 1px #2d2d2d solid;
        border-color: rgba(1, 1, 1, 0.1);
        border-radius: 5px;
        box-shadow: 2px 2px 1px rgba(1, 1, 1, 0.1);
        background-color: white;
        height: 200px;
        width: 48%;
        margin-bottom: 30px;
    }
}

/* really tiny screens ----------- */
@media ( min-width : 0px) and (max-width : 624px) {
    .course-box {
        cursor: pointer;
        border: 1px #2d2d2d solid;
        border-color: rgba(1, 1, 1, 0.1);
        border-radius: 5px;
        box-shadow: 2px 2px 1px rgba(1, 1, 1, 0.1);
        background-color: white;
        height: 200px;
        width: 98%;
        margin-bottom: 20px;
    }
    .tutorials-jumbotron-settings img {
        display: none;
    }
    .tutorials-below-jumbotron-text {
        display: none;
    }
    .tutorials-jumbotron-settings {
        height: auto;
    }
}



/* smaller than iPads (portrait and landscape) ----------- */
@media ( min-width : 0px) and (max-width : 1024px) {
    .vertical-side-bar-container {
        display: none;
    }
    #contentarea {
        margin-left: 0px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .no-padding-wrapper {
        margin-left: -40px;
        margin-right: -40px;
    }
    
    
    /* Resize app buttons*/
    .app-btn {
    	width: 50%;
    }
    
    
    .app-btn:nth-child(1) {
    	border-bottom: none;
    }
    .app-btn:nth-child(2) {
    	border-bottom: none;
    }
}