body {
    background-color: #F6F6F6;
}

.navbar-spacer {
    margin-left: 6%;
}

.no-margin {
    margin-left: -15px !important;
    max-height: none;
}

.navbar-color {
    background-color: white;
    background: -moz-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36b0b6),
        color-stop(100%, #2a8a8f) );
    background: -webkit-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    background: -o-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    background: -ms-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
    background: linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.no-padding {
    padding-left: 0px;
}

.search-box-wrapper {
    float: right;
    width: 30%;
    font-size: 15px;
    height: 30px;
}

.login-stuff-wrapper {
    margin-top: 10px;
}


.login-stuff-wrapper a {
    margin-right: 20px;    
}

.login-stuff-wrapper a:hover {
    text-decoration: none;
}

.top-banner {
    background-color: white;
    padding: 1% 6% 1% 6%;
    position: relative;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 100%;
}

.global-navbar {
    min-height: 0px;
    box-shadow: 0px 10px 30px rgba(1, 1, 1, 0.4);
}

.content-area .jumbotron {
    height: 50%;
    text-align: center;
    margin-bottom: 0;
}

.item-box-container {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.item-box {
    margin: 1%;
    display: inline-block;
    height: 30%;
    width: 30%;
    background-color: #306ECA;
    text-align: center;
    border-radius: 5%;
}

.item-box-title {
    color: white;
    position: relative;
    top: 50%;
    line-height: 0;
    font-size: 200%;
}

/*
 * Side bar Nav styling
 */
.side-bar-item {
    border-top: 1px solid #D2EEFD;
    border-bottom: 1px solid #D2EEFD;
    position: relative;
    height: 70px;
}

.sub-items-wrapper {
    border-bottom: 1px solid #D2EEFD;
}

.arrow {
    position: absolute;
    right: 7%;
    top: 40%;
    border: 1px solid #cdeeff;
    padding: 1%;
    border-radius: 100%;
}

.side-bar-sub-item {
    height: 50px;
}

.side-bar-sub-item-connector-box {
    float: left;
    height: 100%;
    width: 50px;
    position: relative;
}

#itembox .nav .module-content-wrapper .sub-items-wrapper .side-bar-sub-item:last-child .side-bar-sub-item-connector-box .connector
    {
    height: 50%;
}

#itembox .nav .module-content-wrapper .sub-items-wrapper .side-bar-sub-item:first-child .side-bar-sub-item-connector-box .connector
    {
    bottom: 0;
    top: 50%;
    height: 50%;
}

.connector {
    height: 100%;
    background-color: #CDCDCD;
    width: 4px;
    position: absolute;
    left: 48%;
    top: 0;
    z-index: 20;
}

.neon-icon {
    top: 10px;
    position: absolute;
    left: 10px;
    border-radius: 100%;
    z-index: 400;
}

.side-bar-sub-item-title-box {
    height: 100%;
    width: 250;
    left: 50px;
    position: relative;
}

.side-bar-sub-item-title {
    position: absolute;
    line-height: 10%;
    top: 45%;
    left: 5%;
}

.side-bar {
    width: 300px;
    background-color: gray;
}

.item-text {
    position: absolute;
    line-height: 10px;
    top: 30px;
    left: 20px;
}

/*
 * Content display page styling
 */
.content-area {
    padding: 1% 3% 1% 3%;
    float: left;
    width: 10%;
}

.course-jumbotron-settings {
    text-align: center;
    height: 300px;
}

.courses-jumbotron-settings {
    text-align: center;
    height: 90px;
    padding-bottom: 50px;
}

.courses-jumbotron-title {
    line-height: 0;
    font-size: 30px;
}

.course-view-settings {
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
}

.courses-view-settings {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
}

.course-view-box-settings {
    margin-bottom: 20px;
    min-height: 150px;
    border: 1px #2d2d2d solid;
    border-color: rgba(1, 1, 1, 0.1);
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(1, 1, 1, 0.1);
    background-color: white;
}

.course-view-box-setting-left {
    padding: 20px;
    padding-right: 20px;
}

.course-view-box-setting-right {
    
}

.course-view-box-info-box {
    width: 65%;
    margin-left: 120px;
    min-height: 100px;
}

.course-view-box-title {
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 3px;
}

.course-view-box-icon {
    float: left;
    display: inline;
}

.margin-right-90 {
    margin-right: 90px;
}

.course-view-box-description {
    margin-top: 5px;
}

.course-view-box-settings .col-md-6 .vertical-content-nav-bar-item:last-child
    {
    border-bottom: none;
}

.home-jumbotron .caption-container {
    max-width: 550px;
    margin-top: 100px;
    margin-left: 40px;
}

.home-jumbotron {
    background-image: url('/assets/img/3d-android-colorful-wallpaper.jpg');
    background-size: 100%;
    min-height: 400px;
    position: relative;
}

.home-jumbotron .btn {
    margin-top: 20px;
}

.home-jumbotron .caption-container h1 {
    font-size: 38.5px;
}

.home-jumbotron .caption-container h1,.home-jumbotron .caption-container p
    {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

.navbar-nav li a {
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
}

.navbar-nav li:hover {
    border-radius: 5px;
    background-color: #257A7C;
    color: black;
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus
    {
    color: white;
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus
    {
    color: white;
    background-color: #257A7C;
}

.navbar-nav li a img {
    position: relative;
    margin-right: 5px;
    bottom: 5px;
    border-radius: 5px;
    border: 1px solid #1E1D60;
    vertical-align: top;
}

/* tiny screens ----------- */
@media ( min-width : 0px) and (max-width : 760px) {
    .navbar-nav li a img {
        display: none;
    }
    .nav>.hidden-on-big-screen {
        display: block;
    }
    .nav>.hidden-on-small-screen {
        display: none;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus
        {
        color: white;
    }
    .navbar-nav .open,.navbar-nav .open:hover {
        background-color: transparent;
    }
    .global-navbar {
        margin-bottom: 0px;
        background-color: white;
        border: 0;
    }
    
    
    .search-box-wrapper {
        display: none;
    }
}

/* big screens ----------- */
@media only screen and ( min-width : 760px) {
    .nav>.hidden-on-big-screen {
        display: none;
    }
    .global-navbar {
        margin-bottom: 0px;
        background-color: white;
        border: 0;
        height: 40px;
    }
    .navbar-color {
        height: 40px;
    }
    #profilenavbarbutton {
        height: 40px;
    }
}

.menu-active {
    background-color: #257A7C;
}

.jumbotron-wherami {
    padding: 0;
    background-color: #65665F;
    margin-bottom: 10px;
}

.jumbotron-wherami-text {
    color: #C6F2E8;
    line-height: 40px;
    font-weight: 500;
    font-size: 20px;
    padding-left: 55px;
}

.courses-holder {
    padding-left: 20%;
    padding-right: 20%;
}

.back-to-courses-link {
    cursor: pointer;
    color: gray;
    margin-left: 50px;
}

.back-to-courses-link:hover {
    color: #978FBA;
    text-decoration: none;
}