{% extends "templates/site_base.html" %} {% block body %}

{#<div id="fb-root"></div>#}
{#<script>(function(d, s, id) {#}
{#  var js, fjs = d.getElementsByTagName(s)[0];#}
{#  if (d.getElementById(id)) return;#}
{#  js = d.createElement(s); js.id = id;#}
{#  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";#}
{#  fjs.parentNode.insertBefore(js, fjs);#}
{#{(document, 'script', 'facebook-jssdk'));</script>#}

<div class="about-header news">
	<div class="center-children">
		<h1 class="headline" style="color: white;">Professor Wolber's App Inventor Blog</h1>
		<p class="subhead" style="color: white; margin-bottom: 100px">Stay up to date with the latest App Inventor
			News</p>
    </div>
</div>

<div class="about-nav-bar">
	<div class="gen-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<a href="/about">About</a> <a href="/about/team">Team</a> <a
					class="selected" href="/about/blog">Blog</a>
			</div>
		</div>
	</div>
</div>

<div class="gen-container footer-fix" style="background-color: #F1F1F1; height: 100%; width: 100%; margin: 0px; margin-top: -35px">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			{% for item in rssItems %}
			<div class="blog-card" style="background-color: white; color: #333; border: 1px solid #e2e2e2; padding: 10px 20px; margin: 35px 0px;">
				<h1 style="font-weight: 900;">{{item.title}}</h1>
				<h3>
					<small>{{item.date}}</small>
				</h3>
				{% autoescape off %} {{item.content}} {% endautoescape %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>


{% endblock %}
