{% extends "templates/site_base.html" %} {% block blockstart %}

<div class="jumbotron jumbotron-wherami ">
    <div class='jumbotron-wherami-text'>All Courses</div>
</div>


<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-12 courses-view-settings'>
            {% for course in courses %}
            <div identifier='{{course.c_identifier}}' class='row course-box'>
                <div class='col-md-3 course-view-box-setting-left'>
                    <img class='course-view-box-icon margin-right-90' src='{{course.c_icon}}' height='100px' width='100px'>
                </div>
                <div class='col-md-9 course-view-box-setting-right'>
                    <div class='course-view-box-info'>
                        <h1>{{course.c_title}}</h1>
                        <p>{{course.c_description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>





{% endblock %}
