{% extends "templates/site_base.html" %} {% block body %}

<title>AppInventor.org: Democratizing App Building</title>

<div class="landing-video-section">
	<div class="overlay">
		<div class="gen-container">
			<div class="row">
				<div class="col-md-12">
					<div class="landing-video-text">
						<h1 style="font-size: 60px;" class="headline--white">Learn to build Android apps in
							hours.</h1>
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom: 218px; text-align: center;">
				<div class="col-md-12" style="margin-bottom: 20px;">
					<a data-TID="home-video-cta" href="/content/CourseInABox/Intro/courseinabox"
						class="big-btn--green t-video-cta">Start learning now</a>
				</div>
			</div>
		</div>

		<video
			style="min-width: 100%; height: auto; position: absolute; top: 0px; z-index: -1;"
			autoplay muted loop poster="/images/back-img.png" id="bgvid">
			<source src="/assets/ailandingvideo.webm" type="video/webm">
			<source src="/assets/ailandingvideo.mp4" type="video/mp4">
		</video>
	</div>
</div>


<div class="what-it-is-section">
	<div class="gen-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="headline">App building made easy</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p class="subhead">App Inventor is a visual, blocks language for building Android Apps.</p>
			</div>	
		</div>
		<div class="row" style="margin-bottom: 50px;">
			<div class="col-xs-4">

				<div class="what-it-is-tile-wrapper">
					<div style="background-color: rgb(68, 158, 179);"
						class="what-it-is-tile">
						<i class="fa fa-globe"></i>
					</div>
					<h4>Educational</h4>
					<p>App Inventor is being used in classrooms all over the world to broaden participation in computer science.</p>
					<div id="hideTopPosObj"></div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="what-it-is-tile-wrapper">
					<div style="background-color: orange;" class="what-it-is-tile">
						<i class="fa fa-thumbs-o-up"></i>
					</div>
					<h4>Easy</h4>
					<p>Coding is like plugging puzzle pieces together-- you can learn within hours.</p>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="what-it-is-tile-wrapper">
					<div style="background-color: rgb(252, 27, 81);"
						class="what-it-is-tile">
						<i class="fa fa-gamepad"></i>
					</div>
					<h4>Fun</h4>
					<p>Build games, social apps, quizzes, and other apps for you
						and your friends.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<a data-TID="home-about-cta--toabout" class="big-btn--gray" href="/about">Learn More</a> <span
					class="or">or</span> <a data-TID="home-about-cta--tocourse" class="big-btn--green"
					href="/content/CourseInABox/Intro">Get Started</a>
			</div>
		</div>
	</div>
</div>

<img class="peekaboo-robot" src="/assets/img/android_peekaboo.png">

<div class="landing-courses-section">
	<div class="gen-container">
		<div class="row">
			<div class="col-md-12">
				<div id="hideBtmPosObj"></div>
				<div id="scrollZoneTopObj"></div>
				<h2 class="headline--white">Learn how to build apps</h2>
				<p class="subhead--white">Choose a course to start mastering App
					Inventor</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<div class="course-card"
					style="background-image: url(/assets/img/puzzle1.png);">
					<i class="fa fa-cube"></i>
					<h3>Course In A Box</h3>
					<a data-TID="home-courses-courseinabox" href="/content/CourseInABox"></a>
					<div id="scrollZoneBottomObj"></div>
					<div class="course-card-description">Videos, Quizzes, and
						more.</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="course-card"
					style="background-image: url(/assets/img/puzzle2.png);">
					<i class="fa fa-play"></i>
					<h3>Video Tutorials</h3>
					<a data-TID="home-courses-videotutorials" href="/content/ai2apps/simpleApps"></a>
					<div class="course-card-description">Build apps from guided
						video tutorials.</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="course-card"
					style="background-image: url(/assets/img/puzzle3.png);">
					<i class="fa fa-cogs"></i>
					<h3>How do you?</h3>
					<a data-TID="home-courses-howdoyou" href="/content/howDoYou"></a>
					<div class="course-card-description">Glossary of essential
						app building techniques.</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="landing-teachers-section">
	<div class="overlay" style="padding-top: 40px;">
		<h2 class="headline--white">Teach an App Inventor course</h2>
		<p class="subhead--white">Jump start your class with
			course-in-a-box materials, including lesson plans, tips, and more.</p>
		<a data-TID="home-teachers-cta" class="big-btn--green" href="/teacherIntro" style="">Get
			started</a>
	</div>
</div>

{% endblock %}

