 {% extends "templates/site_base.html" %} {% block body %}


<title>AppInventor.org: Democratizing App Building</title>


<div class='container'>
	<div class='row'>
		<div class='col-md-6'>
			<h1 class="headline" style="margin-top: 45px;">Learn to build
				Android apps in hours.</h1>
			<p>MIT App Inventor is the fastest way to build apps for Android
				phones and tablets. Even with no prior experience, you can learn to
				build apps within hours. You'll learn from USF Professor David
				Wolber, who has been teaching beginners programming with App
				Inventor since its inception in 2009. With step-by-step video
				screencasts, Wolber starts with the basics then leads you through
				the development of successively more complex apps, teaching you
				programming concepts as you go.</p>
			<!-- 			<p>
				<small>Note: AppInventor.org partners with but is a separate
					entity from MIT App Inventor. Our focus is providing materials for
					learning and teaching App Inventor, work made possible only through
					the efforts of the MIT team in developing and maintaining the App
					Inventor site.</small>
			</p> -->
			<div class="row">
				<div class="col-md-6 center-children">
					<a href="/content/CourseInABox/Intro/IHaveADream"
						class="landing-big-button">Students start here</a>
				</div>
				<div class="col-md-6 center-children">
					<a href="/content/CourseInABox/Intro/IHaveADream"
						class="landing-big-button">Teachers start here</a>
				</div>
			</div>
		</div>
		<div class='col-md-6' style="padding-top: 14px;">
			<div id='landing-slideshow' class='center-children'>
				<iframe id="youtube_player5" frameborder="0" allowfullscreen="1"
					title="YouTube video player" width="515" height="360"
					src="https://www.youtube.com/embed/qOE0avT5v68?enablejsapi=1&amp;origin=http%3A%2F%2Fwww.appinventor.org"></iframe>
				<iframe id="youtube_player1" frameborder="0" allowfullscreen="1"
					title="YouTube video player" width="515" height="360"
					src="https://www.youtube.com/embed/HbntNGGXamw?enablejsapi=1&amp;origin=http%3A%2F%2Fwww.appinventor.org"></iframe>
				<iframe id="youtube_player2" frameborder="0" allowfullscreen="1"
					title="YouTube video player" width="515" height="360"
					src="https://www.youtube.com/embed/sGiaXOKqeKg?enablejsapi=1&amp;origin=http%3A%2F%2Fwww.appinventor.org"></iframe>
				<iframe id="youtube_player3" frameborder="0" allowfullscreen="1"
					title="YouTube video player" width="515" height="360"
					src="https://www.youtube.com/embed/cWzrhYwn0xk?enablejsapi=1&amp;origin=http%3A%2F%2Fwww.appinventor.org"></iframe>
				<iframe id="youtube_player4" frameborder="0" allowfullscreen="1"
					title="YouTube video player" width="515" height="360"
					src="https://www.youtube.com/embed/E9Zm56Od1pw?enablejsapi=1&amp;origin=http%3A%2F%2Fwww.appinventor.org"></iframe>
				<iframe id="youtube_player6" frameborder="0" allowfullscreen="1"
					title="YouTube video player" width="515" height="360"
					src="https://www.youtube.com/embed/8wsGnG_yNrQ?enablejsapi=1&amp;origin=http%3A%2F%2Fwww.appinventor.org"></iframe>
			</div>
		</div>
	</div>
</div>


<div class='container'>
	<div class="row">

		<div class="col-md-6">
			<div class="row tileBoxes">
				<div class="col-md-12">
					<a
						href='http://www.amazon.com/App-Inventor-2-David-Wolber/dp/1491906847/'
						target="_blank"> <img
						class='responsive-fullwidth-img small-screen-center-element'
						src="/assets/img/ai2_book_tile.png" alt="AI2 Book">App
						Inventor 2 Book
					</a>
				</div>
				<div class="col-md-12">
					<a href='/content/howDoYou'> <img
						class='responsive-fullwidth-img small-screen-center-element'
						src="/assets/img/howdoyou_tile.png">Check out the “How do
						you?” section.
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 rssFeedBox">{{rssFeedBox}}</div>

	</div>

</div>





{% endblock %}



