{% extends "templates/site_base.html" %} {% block blockstart %}

<div class='container-fluid container-sidepadder'>
    <div class='row'>
        <div class='col-md-12'>


            <a href='/tutorials' class='back-to-courses-link'><span class="glyphicon glyphicon-chevron-left"></span> Courses</a>

            <div class='module-content-browser-box-wrapper'>
                <div class='module-content-browser-box-tabs '>

                    {% for key, values in moduleContentMapping.items %}
                        {% if forloop.counter0 == 0 %}
                        <div clicked='true' module_id='{{values.2}}' class='module-content-browser-box-tab-inner'>
                            <p>{{key}}</p>
                         </div>  
                        {% endif %}
                        {% if forloop.counter0 > 0 %}                      
                        <div clicked='false' module_id='{{values.2}}' class='module-content-browser-box-tab-inner'>
                            <p>{{key}}</p>
                        </div>
                        {% endif %}                    

                    {% endfor %}
                </div>
                <div class='module-content-browser-box'>

                    {% for key, values in moduleContentMapping.items %}

                    <div module_id='{{values.2}}' class='course-modules-wrapper'>

                        <img class='course-view-box-icon' src='{{values.0}}' height='100px' width='100px'>


                        <div class='course-view-box-info-box'>
                            <h1>{{key}}</h1>
                            <p>{{values.1}}</p>
                        </div>


                        {% for v in values %} {% if forloop.counter0 > 2 %}
                        <div id='modules_page' module_id='{{values.2}}' content_id='{{v.c_identifier}}' module_title='{{key}}' content_title='{{v.c_title}}' class='vertical-content-nav-bar-item'>
                            <img class='vertical-content-nav-bar-item-icon' src='/assets/img/ModuleIcons/video.png' height='28px' width='28px'> <img class='vertical-content-nav-bar-item-icon'
                                src='/assets/img/ModuleIcons/question.png' height='28px' width='28px'> <img class='vertical-content-nav-bar-item-icon' src='/assets/img/ModuleIcons/light.png'
                                height='28px' width='28px'>

                            <div class='vertical-content-nav-bar-item-text'>{{v.c_title}}</div>
                        </div>
                        {% endif %} {% endfor %}

                    </div>


                    {% endfor %}




                </div>
            </div>



        </div>
    </div>
</div>


{% endblock %}
