{% extends "templates/site_base.html" %} {% block body %}

<div class="about-header team"></div>

<div class="about-nav-bar">
	<div class="gen-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<a href="/about">About</a> <a class="selected" href="/about/team">Team</a>
				<a href="/about/news">News</a> <a href="/about/contact-us">Contact
					Us</a>
			</div>
		</div>
	</div>
</div>


<div class="gen-container footer-fix">
	<div class="row">
		<div class="col-md-12">

			<div class="center-children">
				<h1 class="headline">Meet the Team</h1>
				<p class="subhead">The dedicated staff behind AppInventor.org</p>
			</div>

			<div class="team-members-container">
				<div class="team-member-box">
					<img src="/assets/img/team/Wolber.jpg">
						<h2>David Wolber</h2>
						
						<p>Vishal Punwani is an MD candidate at Melbourne Medical
							School, with a background in biology and nutrition. He has held
							lab teaching positions in biology and human anatomy at the
							University of Victoria, the University of British Columbia, and
							the University of Melbourne. Vish is passionate about medicine
							and physiology, but like any good Canadian, he holds ice hockey
							and boundless politeness above all else.</p>
				</div>
				<div class="team-member-box">
					<img src="/assets/img/team/Jordan.jpg">
					<h2>Jordan Goldin</h2>
					<p>Vishal Punwani is an MD candidate at Melbourne Medical
						School, with a background in biology and nutrition. He has held
						lab teaching positions in biology and human anatomy at the
						University of Victoria, the University of British Columbia, and
						the University of Melbourne. Vish is passionate about medicine
						and physiology, but like any good Canadian, he holds ice hockey
						and boundless politeness above all else.</p>
				</div>
				<div class="team-member-box">
					<img src="/assets/img/team/Thomas.jpg">
					<h2>Thomas Oropeza</h2>
					<p>Vishal Punwani is an MD candidate at Melbourne Medical
						School, with a background in biology and nutrition. He has held
						lab teaching positions in biology and human anatomy at the
						University of Victoria, the University of British Columbia, and
						the University of Melbourne. Vish is passionate about medicine
						and physiology, but like any good Canadian, he holds ice hockey
						and boundless politeness above all else.</p>
				</div>
				<div class="team-member-box">
					<img src="/assets/img/team/Brian.jpg">
					<h2>Brian Liberman</h2>
					<p>Vishal Punwani is an MD candidate at Melbourne Medical
						School, with a background in biology and nutrition. He has held
						lab teaching positions in biology and human anatomy at the
						University of Victoria, the University of British Columbia, and
						the University of Melbourne. Vish is passionate about medicine
						and physiology, but like any good Canadian, he holds ice hockey
						and boundless politeness above all else.</p>
				</div>
				<div class="team-member-box">
					<img src="/assets/img/team/Daniel.jpg">
					<h2>Daniel Obaseyi Buraimo</h2>
					<p>Vishal Punwani is an MD candidate at Melbourne Medical
						School, with a background in biology and nutrition. He has held
						lab teaching positions in biology and human anatomy at the
						University of Victoria, the University of British Columbia, and
						the University of Melbourne. Vish is passionate about medicine
						and physiology, but like any good Canadian, he holds ice hockey
						and boundless politeness above all else.</p>
				</div>
				<div class="team-member-box">
					<img src="/assets/img/team/Mauricio.jpg">
					<h2>Mauricio Montalvo</h2>
					<p>Vishal Punwani is an MD candidate at Melbourne Medical
						School, with a background in biology and nutrition. He has held
						lab teaching positions in biology and human anatomy at the
						University of Victoria, the University of British Columbia, and
						the University of Melbourne. Vish is passionate about medicine
						and physiology, but like any good Canadian, he holds ice hockey
						and boundless politeness above all else.</p>
				</div>
			</div>
			
			
			<h2 class="team-old-divider">Former Contributers</h2>

			<div class="team-members-container">
				<div class="team-member-box">
					<img src="/assets/img/team/Cayla.jpg">
						<h2>Cayla Shaver</h2>
						<p>Vishal Punwani is an MD candidate at Melbourne Medical
							School, with a background in biology and nutrition. He has held
							lab teaching positions in biology and human anatomy at the
							University of Victoria, the University of British Columbia, and
							the University of Melbourne. Vish is passionate about medicine
							and physiology, but like any good Canadian, he holds ice hockey
							and boundless politeness above all else.</p>
				</div>
				<div class="team-member-box">
					<img src="/assets/img/team/Adam.jpg">
					<h2>Adam Toth-Fejel</h2>
					<p>Vishal Punwani is an MD candidate at Melbourne Medical
						School, with a background in biology and nutrition. He has held
						lab teaching positions in biology and human anatomy at the
						University of Victoria, the University of British Columbia, and
						the University of Melbourne. Vish is passionate about medicine
						and physiology, but like any good Canadian, he holds ice hockey
						and boundless politeness above all else.</p>
				</div>
				<div class="team-member-box">
					 <img src="/assets/img/team/JD.jpg">
					<h2>JD</h2>
					<p>Vishal Punwani is an MD candidate at Melbourne Medical
						School, with a background in biology and nutrition. He has held
						lab teaching positions in biology and human anatomy at the
						University of Victoria, the University of British Columbia, and
						the University of Melbourne. Vish is passionate about medicine
						and physiology, but like any good Canadian, he holds ice hockey
						and boundless politeness above all else.</p>
				</div>
				<div class="team-member-box">
					<img src="/assets/img/team/Vincent.jpg">
					<h2>‎Vincent Zhang</h2>
					<p>Vishal Punwani is an MD candidate at Melbourne Medical
						School, with a background in biology and nutrition. He has held
						lab teaching positions in biology and human anatomy at the
						University of Victoria, the University of British Columbia, and
						the University of Melbourne. Vish is passionate about medicine
						and physiology, but like any good Canadian, he holds ice hockey
						and boundless politeness above all else.</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
