{% extends "site_base.html" %}
{% block body %}

<center>
<h1> CS 107: Computing, Mobile Apps, and the Web </h1>
<h2>University of San Francisco, Fall 2015</h2>
</center>

<ul>
<li><a href="https://docs.google.com/document/d/1nJIZFYqDu_J76sDAgTMH74bQQfGbgM0xP0YSQq-v-Hc/pub">Schedule</a></li>
<li><a href="https://docs.google.com/document/d/1AZOixRGvCow7A2rgUy3eRlIToSnathVrEDUlNnKtAwc/pub">Syllabus</a></li>
<li><a href="https://groups.google.com/d/forum/cs107f14">Forum</a>-- ask questions here!</li>
</ul>

<p>Note: this is the page for a University of San Francisco course based on the <a href="/course-in-a-box2">Course-In-A-Box</a>
</p>


{% endblock %}