{% extends "site_base.html" %}
<title>App Inventor: How do I?</title>
{% block body %}
<h2>App Inventor: How do you?</h2>
<h3>Event-Response Behavior</h3>
How do you program an app's event-response behavior?
<ul>
    <li><a href="/Events-redbtn">How do you turn a button red when a user clicks it?</a></li>
    <li><a href="/Events-shaking">How do you talk when the user shakes the phone?</a></li>
     
  </ul>
<h3>Conditional (if) Behavior</h3>
How do you program an app to make decisions?
<ul>
    <li><a href="/conditionalsStart">How do you start and pause a sound file when the user clicks a button?</a></li>
    <li><a href="/conditionalsWhere">How do you auto-respond to a “WHERE” text from a particular person?</a></li>
     
  </ul>
<h3>Incrementing a Value</h3>
How do you add one to something in the computer's memory?
<ul>
    <li><a href="/incrementingCount">How do you count the number of times a button has been clicked?</a></li>
    <li><a href="/incrementingCountDown">How do you count down from 10?</a></li>
     
  </ul>
  
<h3>Drawing</h3>
How do you draw shapes and images?
<ul>
    <li><a href="/DrawingCanvas">How do you create a drawing canvas?</a></li>
    <li><a href="/DrawingCircle">How do you draw a circle at 10,10?</a></li>
    <li><a href="/DrawingTouch">How do you draw a circle where the user touches?</a></li>
    <li><a href="/DrawingMiddle">How do you show an image in the middle of the canvas?</a></li>
     
  </ul>
<h3>Variables</h3>
When do you need to define a variable and how do you do it?
<ul>
    <li><a href="/VariablesCircle">How do you make it so that each time the user clicks a larger circle is drawn?</a></li>
    <li><a href="/VariablesBackForth">How do you make a ball go back and forth?</a></li>
     
  </ul>
 
<h3>Location</h3>
How do you know where you are?
<ul>
    <li><a href="/locationLatLong">How do you determine your latitude, longitude, and street address?</a></li>
    <li><a href="/locationDistance">How do you determine how far you are from another place?</a></li>
     
  </ul> 
  

<h3>List Processing (Batch)</h3>
How do you do something to every item in a list?
<ul>
    <li><a href="/listsText">How do you send a text to a list of your friends?</a></li>
    <li><a href="/listsSum">How do you add up a list of numbers?</a></li>    
  </ul>


<h3>List Traversal (user-directed)</h3>
How do you step through a list based on user-initiated events?
  <ul>
    <li><a href="/UserListNavNext">How do you create a slideshow so the user clicks to get to 
		  the next picture?</a></li>
    <li><a href="/UserListNavPrev">How do you add a previous button to make the slideshow go backwards?</a></li>
     <li><a href="/UserListNavLoop">How do you make it so the slideshow loops back to the front?</a></li>
  </ul>
<h3>Adding Items to a List</h3>
How do you record information in a list?
<ul>
    <li><a href="/recordItemsNotes">How do you record notes input by the user?</a></li>
    <li><a href="/recordItemsPhone">How do you record the phone numbers of incoming SMS texts and then call one randomly to tell them they've won a prize?</a></li>
     
  </ul>
<h3>Persistence</h3>
How do you record data persistently?
<ul>
    <li><a href="/PersistenceMessage">How do you persistently record an out-going message for a text auto-responder?</a></li>
    <li><a href="/PersistenceNotes">How do you persistently record notes entered by a user?</a></li>
     
  </ul>
<h3>Timed Activity</h3>
How do you repeat an action, pausing between each iteration?
  <ul>
    <li><a href="/TimedActivitySound">How do you play a sound every second?</a></li>
<li><a href="/TimedActivitySoundFive">How do you play a sound every 5 seconds?</a></li>
    <li><a href="/TimedActivitySpace">How do you move a spaceship smoothly across the screen?</a></li>
    <li><a href="/TimedActivityFrame">If you set the timer interval for the spaceship to 40 ms, what will be the frame rate for your “movie”?</a></li>
  </ul>
How do you start and stop a timed activity?
  <ul>
  <li><a href="/TimedActivityStartClick">How do you start and stop the repeated playing of a sound?</a></li>

  <li>  
  <a href="/TimedActivityStartSpeak">How do you start a spaceship when the user speaks, 
  and stop it when the user shakes the phone?</a></li>
  </ul>

<h3>Sprite Animation</h3>
How do you animate a sprite?
  <ul>
    <li><a href="/spritesMove">How do you move a sprite over time in a specific direction?</a></li>
    <li><a href="/spritesBounce">How do bounce a sprite off an edge or another object?</a></li>
  </ul>

<h3>Timed Lists</h3>
How do you process each item in a list, pausing in between?
  <ul>
    <li><a href="/TimedListsMusic">How do you play a list of musical notes?</a></li>
    <li><a href="/TimedListsAsl">How do you sign the word 'code' using American Sign Language?</a></li>
  </ul>

<h3>Procedures</h3>
How and why should I define a procedure?
  <ul>
    <li><a href="/procList">How do you code a procedure to display a list?</a></li>
    <li><a href="/procParam">How do you code a procedure to display any list?</a></li>
    <li><a href="/procAnylabel">How do you code a procedure to display any list in any label?</a></li>
  </ul>
<h3>Using Multiple Screens</h3>
How do you work with multiple screens in the same app?
<ul>
    <li><a href="/screensSwap">How do you swap between two or more screens?</a></li>
    <li><a href="/screensShare">How do you share information between screens?</a></li>
     
  </ul>


{% endblock %}