<!-- Important Owl stylesheet -->
<link rel="stylesheet" href="/assets/css/owl.carousel.css">

<!-- Default Theme -->
<link rel="stylesheet" href="/assets/css/owl.theme.css">

<div class='full-width-background-gray-gradient-container'>
	<div class='course-page-container'>
		<div class='app-header'>
			<h2>{{app.heroHeader}}</h2>
			<p>{{app.heroCopy}}
			{% if app.pdfChapter %}
				This tutorial can be viewed in book form 
				<a href="{{currentAppsDir}}/{{ app.appId }}/{{ app.appId }}.pdf">here</a>
 			{% endif %}
 			</p>
		</div>
	</div>
</div>


<div class='app-big-video'>
	<div id="carousel-wrapper">
		
		{% for step in steps %}
		<div class='carousel-step'>
			<div class='carousel-step-video'
				data-utubeurl='{{step.fullscreenPath}}&showinfo=0'></div>
			<div class='carousel-step-info'>
				<h3>
					<strong>Step {{step.number }}:</strong> {{step.header}}
				</h3>
				<p>{{step.copy}}</p>
			</div>
		</div>
		{% endfor %}
		
		
	</div>
	
<div class='app-btn-section'>
	<div class='app-btn'>
		<a href="#" data-toggle="modal" data-target="#qrCodeModal">
			<h4>QR Code</h4>
			<p>Scan to install this app.</p>
		</a>
	</div>
	
	<div class='app-btn'>
	<a href="{{currentAppsDir}}/{{ app.appId }}/{{ app.appId }}.apk">
		<h4>APK</h4>
		<p>Download as Android application</p>
	</a> 
	</div>
	
		<div class='app-btn'>
	<a href="{{currentAppsDir}}/{{ app.appId }}/{{ app.appId }}.aia">
		<h4>AIA</h4>
		<p>Download the App Inventor source</p>
	</a>
	</div>
</div>
	

</div>




<!-- Modal -->
<div class="modal fade" id="qrCodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      <h4>Scan the QR code with your Android device to download the application.</h4>
     	<img style="margin: auto; display: block;" src="{{currentAppsDir}}/{{ app.appId }}/qr.png">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<script src="/assets/js/owl.carousel.js"></script>


<script src="/assets/js/app_base.js"></script>