{% extends "site_base.html" %} {% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<H1>App Inventor 2 FAQ</H1>
			<h3>What is App Inventor 2?</h3>
			<p>
				App Inventor 2 is the new version of App Inventor available at <a
					href="http://ai2.appinventor.mit.edu" target="_blank">http://ai2.appinventor.mit.edu</a>.
				It is fabulous: its much easier to setup (usually no downloads!) and
				it provides a much more elegant programming experience. The blocks
				editor loads immediately (its now in the browser, not a Java app!).
				If you're a developer or checking out App Inventor for future use,
				you should absolutely use AI2. However, AI "Classic"
				(beta.appinventor.mit.edu) will still be available for some months.
				<br /> <a class="btn btn-mini btn-primary"
					href="/appInventor2Changes"><i class="icon-book icon-white"></i>&nbsp;&nbsp;Learn
					about the key changes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
			</p>
			<h3>Where are my projects?</h3>
			<p>
				As of December 3, 2013, the "Create" link on the App Inventor home
				page links to the new AI2 tool. But the App Inventor projects you've
				built with the "Classic" system are still available. Just go to <a
					href="http://beta.appinventor.mit.edu" target="_blank">http://beta.appinventor.mit.edu</a>
				to use the "Classic" system and edit your projects.
			</p>
			<h3>Can I translate my projects to the new AI2 system?</h3>
			<p>At this time, there is no tool to translate AI Classic
				projects into AI2 projects</p>
			<h3>Should I use AI2 to teach my course this semester?</h3>
			<p>
				Even though your teaching materials will need to be changed to some
				degree, you should make the switch. The experience for your students
				will be so much better-- once you try AI2 it is hard to go back to
				the "Classic" version! Its also important to note that the blocks in
				AI2 are essentially the same, with a few minor exceptions. So you
				mainly need to change your tutorials/lessons that deal with
				mechanics, not programming. AppInventor.org and appinventor.mit.edu
				have been hard at work developing new materials which you can
				leverage. Check out the <a href="/IHaveADream-steps">AI2 video
					tutorials</a> on this site as well as the <a href="/book2">book
					chapters</a> that have been translated into AI2. MIT has also
				translated a number of their <a
					href="http://appinventor.mit.edu/explore/ai2/tutorials">tutorials</a>.
				If I were teaching a class, I would definitely use AI2.
			</p>
			<h3>How is the setup different in AI2?</h3>
			<p>
				The setup is much smoother. If you have an Android device and a
				normal WiFi connection, you can generally get started within minutes
				without downloading anything to your computer. If you are using App
				Inventor in a school/organizations with firewall issues, there is
				support for using a USB connection and for using an emulator.
				Checkout these <a
					href="http://appinventor.mit.edu/explore/ai2/setup">instructions</a>
			</p>
			<h3>Are there tutorials and other materials for learning with
				AI2?</h3>
			<p>We're working hard here at appinventor.org to update the App
				Inventor book, all the video tutorials, and the course-in-a-box.
				Bear with us during this change, but please check out the following:
			
			<ul>
				<li><a href="/book2">App Inventor Book chapters</a></li>

				<li>I Have a Dream, <a
					href="/apps2/IHaveADream/IHaveADream.pdf">text</a>, <a
					href="/IHaveADream-steps">video</a>-- an introductory soundboard
					app featuring iconic civil rights leaders.
				</li>
				<li>PaintPot<a href="/PaintPot2"> text</a>, <a
					href="/paintpot2-steps">video</a> the classic painting app.
				</li>
				<li><a href="/mathBlaster">Math Blaster</a>-- educational
					software demonstrating use of dynamic lists and random numbers.</li>
				<li><a href="/properties">Conceptual Lesson: Properties</a>--
					introduction to component properties.</li>
				<li><a href="/eventHandlers">Conceptual Lesson: Event
						Handlers</a>-- introduction to event handlers.</li>
				<li><a href="/conditionalsInfo">Conceptual Lesson:
						Conditionals</a>-- introduction to conditionals.</li>
			</ul>
		</div>
	</div>

</div>

{% endblock %}
