{% extends "site_base.html" %} {% block body %}



<article>

	<div class='full-width-background-blue-1-container'>
		<div class='course-page-container'>
			<div class='course-page-title-section '>

				<h2>App Inventor 2: Create your own Android Apps</h2>
			</div>
		</div>
	</div>



	<div class='gen-container'>
		<div class='standard-section'>
			<div class='col-30'>
				<img class='responsive-fullwidth-img center-element'
					src="../../assets/img/ai2cover.jpg" border="0" />
			</div>

			<p>
				<strong>App Inventor 2: Create your own Android Apps</strong> is now
				available in early-release form from O'Reilly. The early-release
				gives you discounted access to the book while the authors are making
				final edits. You receive the preview version now, then all
				significant updates as well as the final version.
			</p>

			<p>The book is written by USF Professor David Wolber, along with
				three of the original creators of App Inventor: MIT's Hal Abelson,
				Mills Professor and Google Engineer Ellen Spertus and Google
				Engineer Liz Looney. The book is designed for absolute beginners and
				is also useful for programmers looking to add App Inventor to their
				programming arsenal.</p>
			<p>
			<p>
				The book is taught in many K-12 and University courses. Check out
				the <a href="/course-in-a-box2">course-in-a-box</a> to see how the
				chapters fit in to a course outline.

			</p>

		</div>


		<div class='standard-section'>
			<h2 class='center-children'>About the Book</h2>

			<p>The first section of the book is organized by content-- apps
				you might want to build-- instead of topic names like "conditionals"
				or "iteration" that are less inviting to beginners. You'll be led
				through the creation of twelve successively more complex apps that
				you can build and customize. Start from the top and go in
				succession, or if you're feeling adventurous jump right to an app
				you want to build. Of course you'll learn a bunch of programming
				topics, like "conditionals", along the way, but the learning is
				snuck in while you're having fun!</p>

			<p>The second section, the "Inventor's Manual" follows a more
				traditional topic-by-topic organization. These chapters explains
				programming and computer science concepts in layperson's terms. If
				you're more inclined to a topic-by-topic flow, you can start with
				Chapter 14. Or you can jump to any of the conceptual chapters when
				you needs specific information to finish an app you're building.</p>

			<p>Many thanks to Cayla Shaver, USF CS student, for her work on
				converting AI1 materials to AI2</p>


			<p>
				The following are web page draft versions of the new AI2 book. You
				are encouraged to purchase the<a
					href="http://shop.oreilly.com/product/0636920034056.do"
					target="_blank"> Early-Release Book from O'Reilly</a>
			</p>

		</div>
		
		
		<div class='standard-section'>

			<h2 class='center-children'>Tutorials</h2>
			<ol>
				<li><a href="/Chapter1">Hello Purr</a></li>
				<li><a href="/Chapter2">PaintPot</a></li>
				<li><a href="/Chapter3">MoleMash</a></li>
				<li><a href="/Chapter4">No Texting While Driving</a></li>
				<li><a href="/Chapter5">Ladybug Chase</a></li>
				<li><a href="/Chapter6">Map Tour</a></li>
				<li><a href="/Chapter7">Android, Where's My Car?'</a></li>
				<li><a href="/Chapter8">President's Quiz</a></li>
				<li><a href="/Chapter9">Xylophone</a></li>
				<li><a href="/Chapter10">MakeQuiz and TakeQuiz</a></li>
				<li><a href="/Chapter11">Broadcast Hub</a></li>
				<li><a href="/Chapter12">Robot Remote</a></li>
				<li><a href="/Chapter13">Amazon Bookstore</a></li>
			</ol>

			<h2 class='center-children'>Inventor's Manual</h2>
			<ol start="14">
				<li><a href="/Chapter14">Understanding an App's
						Architecture</li>
				<li><a href="/Chapter15">Engineering and Debugging an App</a></li>
				<li><a href="/Chapter16">Programming Your App's Memory</a></li>
				<li><a href="/Chapter17">Creating Animated Apps</a></li>
				<li><a href="/Chapter18">Programming Your App to Make
						Decisions</a></li>
				<li><a href="/Chapter19">Programming Lists of Data</a></li>
				<li><a href="/Chapter20">Repeating Blocks</a></li>
				<li><a href="/Chapter21">Defining Procedures</a></li>
				<li><a href="/Chapter22">Databases</a></li>
				<li><a href="/Chapter23">Sensors</a></li>
				<li><a href="/Chapter24">Communicating with the Web</a></li>
			</ol>


		</div>

	</div>
</article>













{% endblock %}
