{% extends "site_base.html" %} {% block body %}

<article>

	<div class="gen-container page-btm-spacer">
		<div class="row">
			<div class="col-md-12">
				<div class="banner-headline">
					<h1>App Inventor 2: Create your own Android Apps</h1>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<img class='responsive-fullwidth-img center-element'
					src="../../assets/img/ai2cover2.jpeg" border="0" />
				<div class="row">
					<div class="col-md-12 center-children">

						<a
							style="display: inline-block; margin-top: 20px; margin-bottom: 20px;"
							href="http://www.amazon.com/App-Inventor-2-David-Wolber/dp/1491906847/"
							target="_blank"><img
							src="https://images-na.ssl-images-amazon.com/images/G/01/associates/remote-buy-box/buy4._V192207739_.gif"></a>
					</div>
				</div>

			</div>
			<div class="col-md-6">
				<p>
					The book is written by USF Professor David Wolber, along with three
					of the original creators of App Inventor: MIT's Hal Abelson, Mills
					Professor and Google Engineer Ellen Spertus and Google Engineer Liz
					Looney. The book is designed for absolute beginners and is also
					useful for programmers looking to add App Inventor to their
					programming arsenal. The book is used in many K-12 and college
					courses, often in conjunction with the <a href="/course-in-a-box2">Course-in-the-Box.</a>
				</p>


				<h2>About the Book</h2>

				<p>The first section of the book is organized by content-- apps
					you might want to build-- instead of topic names like
					"conditionals" or "iteration" that are less inviting to beginners.
					You'll be led through the creation of twelve successively more
					complex apps that you can build and customize. Start from the top
					and go in succession, or if you're feeling adventurous jump right
					to an app you want to build. Of course you'll learn a bunch of
					programming topics, like "conditionals", along the way, but the
					learning is snuck in while you're having fun!</p>

				<p>The second section, the "Inventor's Manual" follows a more
					traditional topic-by-topic organization. These chapters explains
					programming and computer science concepts in layperson's terms. If
					you're more inclined to a topic-by-topic flow, you can start with
					Chapter 14. Or you can jump to any of the conceptual chapters when
					you needs specific information to finish an app you're building.</p>

				<p>Many thanks to Cayla Shaver, USF CS student, for her work on
					converting AI1 materials to AI2</p>


				<p>
					The chapters in pdf form are provided below but please <a
						href="http://www.amazon.com/App-Inventor-2-David-Wolber/dp/1491906847/"
						target="_blank">purchase the book</a> to support the authors and
					the work at appinventor.org.
				</p>




				<h2>Book Contents</h2>
				<div class="row">
					<div class="col-md-6">
						<h3>Tutorial Section</h3>
						<ul class="unstyled-list book-content-list">
							<li><a href="/bookChapters/forward.pdf">Forward</a></li>
							<li><a href="/bookChapters/preface.pdf">Preface</a></li>
							<li><a href="/bookChapters/chapter1.pdf">Chapter 1.
									Hello Purr</a></li>
							<li><a href="/bookChapters/chapter2.pdf">Chapter 2.
									PaintPot</a></li>
							<li><a href="/bookChapters/chapter3.pdf">Chapter 3.
									MoleMash</a></li>
							<li><a href="/bookChapters/chapter4.pdf">Chapter 4. No
									Texting While Driving</a></li>
							<li><a href="/bookChapters/chapter5.pdf">Chapter 5.
									Ladybug Chase</a></li>
							<li><a href="/bookChapters/chapter6.pdf">Chapter 6. Map
									Tour</a></li>
							<li><a href="/bookChapters/chapter7.pdf">Chapter 7.
									Android, Where's My Car?'</a></li>
							<li><a href="/bookChapters/chapter8.pdf">Chapter 8.
									President's Quiz</a></li>
							<li><a href="/bookChapters/chapter9.pdf">Chapter 9.
									Xylophone</a></li>
							<li><a href="/bookChapters/chapter10.pdf">Chapter 10.
									MakeQuiz and TakeQuiz</a></li>
							<li><a href="/bookChapters/chapter11.pdf">Chapter 11.
									Broadcast Hub</a></li>
							<li><a href="/bookChapters/chapter12.pdf">Chapter 12.
									Robot Remote</a></li>
							<li><a href="/bookChapters/chapter13.pdf">Chapter 13.
									Amazon Bookstore</a></li>
						</ul>
					</div>
					<div class="col-md-6">

						<h3>Inventor's Manual</h3>
						<ul class="unstyled-list book-content-list">
							<li><a href="/bookChapters/chapter14.pdf">Chapter 14.
									Understanding an App's Architecture</a></li>
							<li><a href="/bookChapters/chapter15.pdf">Chapter 15.
									Engineering and Debugging an App</a></li>
							<li><a href="/bookChapters/chapter16.pdf">Chapter 16.
									Programming Your App's Memory</a></li>
							<li><a href="/bookChapters/chapter17.pdf">Chapter 17.
									Creating Animated Apps</a></li>
							<li><a href="/bookChapters/chapter18.pdf">Chapter 18.
									Programming Your App to Make Decisions</a></li>
							<li><a href="/bookChapters/chapter19.pdf">Chapter 19.
									Programming Lists of Data</a></li>
							<li><a href="/bookChapters/chapter20.pdf">Chapter 20.
									Repeating Blocks</a></li>
							<li><a href="/bookChapters/chapter21.pdf">Chapter 21.
									Defining Procedures</a></li>
							<li><a href="/bookChapters/chapter22.pdf">Chapter 22.
									Databases</a></li>
							<li><a href="/bookChapters/chapter23.pdf">Chapter 23.
									Sensors</a></li>
							<li><a href="/bookChapters/chapter24.pdf">Chapter 24.
									Communicating with the Web</a></li>
						</ul>
					</div>
				</div>


			</div>
		</div>
	</div>

</article>













{% endblock %}
