{% extends "howdoyouTemplate.html" %}

<h2>{% block title %}Conditionals: How do you program an app to make decisions?{% endblock %}</h2>
{% block description %}
				With App Inventor, you program event handlers-- how an app should
				respond to something like the user clicking a button. But sometimes
				an app shouldn't respond to an event the same every time. This is
				where <span class="empfont">if</span> blocks, known as
				"conditionals", come in. They allow the app to make decisions and
				form the basis of artificial intelligence.
{% endblock %}
{% block question %} Example 1. How do you start and pause a sound file when the
user clicks a button? {% endblock %}
{% block answer %}
<p>
				This behavior from the <a href="/content/CourseInABox/Intro/IHaveADream">I Have a
					Dream app</a> illustrates the fundamental way that an app makes
				decisions. There is a button with a picture of Martin Luther King on
				it. The action taken when the button is clicked is not always the
				same. If the sound file (MLK’s speech) is playing, it should be
				paused. If it is not playing, it should be started. The <span
					class="empfont">if-else</span> block is used to branch based on the
				situation. It checks the IsPlaying property of the <span
					class="empfont">Player</span> component. If it is true, it pauses
				the speech. If it is false (else), the speech is (re-) started.
</p>
{% endblock %}

{% block answerImage %} "/assets/img/conditionals/ifElsePlayPause.png"{% endblock %}


{% block answerVideo %} "//www.youtube.com/embed/M1Wu1QzbJsE" {% endblock %}
{% block otherExampleLink %}<a href="/content/howDoYou/Conditionals/where">example 2</a>{% endblock %}
