{% extends "site_base.html" %} {% block body %}

<section class="section course-in-a-box-header-section background-green">
	<div class="gen-container">
		<div class="row">
			<div class="col-sm-6">
				<h1>Course In A Box</h1>
				<p style="margin-bottom: 59px;">
					The Course In A Box is designed for complete beginners to App Inventor. You'll learn how to build mobile apps and share them using App Inventor. Along the way you'll learn important programming concepts and terminology. 
				</p>
			</div>
			<div class="col-sm-6 center-children">
				<a class="jbridge-tocourse-btn background-orange" href="/content/CourseInABox/Intro/IHaveADream">
					Start learning now
					<i class="fa fa-arrow-right"></i>
				</a>
			</div>
		</div>
	</div>
</section>


<section class="section course-in-a-box-overview-section">
	<div class="gen-container">
		<div class="row">
			<div class="col-md-12">
				<h1>Course Overview</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
     			<a href="/content/CourseInABox/Intro/IHaveADream">Introduction to App Inventor</a>
				<a href="/content/CourseInABox/drawAnimate/lessonObjectives">Drawing, Animation, and Game apps</a>
				<a href="/content/CourseInABox/textingLocation/introduction">Texting and Location Sensing</a>
				<a href="/content/CourseInABox/quizApps/ListIndexPreTest">Quizzes
					and other Informational Apps</a>
			</div>
			<div class="col-sm-6 center-children">
 				<a href="/content/CourseInABox/procedures/introduction">Creating New
					Blocks-- Define Procedures</a>
				<a href="/content/CourseInABox/userGenerated/RecordingNugget">User-Generated Data</a>
				<a href="/content/CourseInABox/web/introduction">Communicating with the Web</a>
			</div>
		</div>
	</div>
</section>



<section class="section course-in-a-box-additional-resources-section background-blue">
	<div class="gen-container">
		<div class="row">
			<div class="col-md-offset-1 col-md-5 col-md-push-6">
				<h1>Additional Resources</h1>
				<p>
					Checkout these supplemental courses for extra help.
				</p>
			</div>
			<div class="col-md-6 col-md-pull-6" style="padding-top: 50px">
				<div class="course-card-wrapper--w50">
					<div class="course-card"
						style="background-image: url(/assets/img/puzzle1.png);">
						<i class="fa fa-cube"></i>
						<h3>Video Tutorials</h3>
						<a data-TID="courses-videotutorials" href="/content/ai2apps"></a>
						<div id="scrollZoneBottomObj"></div>
						<div class="course-card-description">Build apps from guided
							video tutorials.</div>
					</div>
				</div>


				<div class="course-card-wrapper--w50">	
					<div class="course-card" style="background-image: url(/assets/img/puzzle3.png);">
						<i class="fa fa-cogs"></i>
						<h3>How do you?</h3>
						<a data-tid="courses-howdoyou" href="/content/howDoYou"></a>
						<div class="course-card-description">Glossary of essential
							app building techniques.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



{% endblock %}