{% extends "site_base.html" %}
{% block body %}

<H1>The App Inventor Course-in-a-Box (AI2 Version)</H1>
<br/>
<div class="row-fluid">
<div class="span7">
<H3>Self-Directed Learners</H3>
<p>
Never coded but want to learn how to build apps? Then you've come
to the right place. This course targets beginners of all ages and
starts at the very beginning--setting up App Inventor. With video and text-based lessons, Professor Wolber will
step you through building progressively more complex apps. You'll learn how to build many types of apps
and you'll learn programming
concepts and terminology. 
<h3>Modules</h3>
<strong>
<a href="#Mod1">Module 1: Introduction to AI2 and Event-Driven Programming</a><br/>
<a href="#Mod2">Module 2: Build Drawing, Animation, and Game apps</a><br/>
<a href="#Mod3">Module 3: Build Apps with Texting and Location Sensing</a><br/>
<a href="#Mod4">Module 4: Build Quizzes and other Informational Apps</a><br/>
<a href="#Mod5">Module 5: Create New Blocks-- Define Procedures</a><br/>
<a href="#Mod6">Module 6: Build Apps with User-Generated Data</a><br/>
<a href="#Mod7">Module 7: Build Apps that Communicate with the Web</a><br/>
</strong>
<br/>
<p><small>
Note: This AI2 version of Course-in-a-Box is 90% complete and still under-construction. The plan
is for it to be completed by August 1, 2014</p></small>
</div>
<div class="span5">
<H3>Teachers</H3>
<p>
Want to provide your students with the motivational experience of App Inventor but don't want
to create curriculum from scratch? The course outline and materials provided here are modeled after 
Professor Wolber's course, "Computing, Mobile Apps, and the Web"
at the University of San Francisco, which he has taught 
since a Google App Inventor pilot in 2009. You are welcome to use the course outline directly,
link to the materials, remix them, and pick and choose modules as you like. Whether you 
are teaching on-line, in-person, or a hybrid "flipped" classroom, the course-in-a-box is for you!
</p>
<a href="/TeachingAI"><button class="btn-primary" >Professor Wolber's Tips on Teaching AI</button></a> &nbsp;
<br/>
<p><small>
Note: This Course-in-a-Box is for the new version of App Inventor. Click here for the
 <a href="/course-in-a-box">App Inventor Classic version</a></p></small>
</div>
</div>



<a name="Mod1"></a>
<H2>Module 1: Introduction to AI2 and Event-Driven Programming</h2>
<div class="row-fluid">
<div class="span7">

<ol>
<li><a href="/appInventorIntro" target="_blank">App Inventor Introduction</a></li>
<li><a href="http://appinventor.mit.edu/explore/ai2/setup.html" target="_blank">Setup App Inventor</a></li>
<li>Build your first app: "I Have a Dream!" <a href="/IHaveADream-steps" target="_blank">video</a>,<a href="/apps2/IHaveADream/IHaveADream.pdf" target="_blank">pdf</a></li>

<li><a href="/portfolio" target="_blank">Setup your portfolio</a></li>
<li><a href="/appPage" target="_blank">Publishing your app</a></li>
<li><a href="/Events" target="_blank">Nugget: Event Handling</a></li>
<li><a href="/Conditionals" target="_blank">Nugget: Conditionals</a></li>
<li><a href="https://docs.google.com/document/d/1f4lPDnfaxxKhzkWvoEuCrHNHpJBRWixIsxr8u0zJR9U/edit#">
Conceptualize and Customize: "I Have a Dream"</a></li>
<li><a href="/soundboard" target="_blank">Creative Project: Soundboard</a></li>	
<li>  <a href="Quiz1" target="_blank">Quiz 1</a><br/></li>
</ol>
<H3>Key Concepts</H3>
<a href="/eventHandlers"><button class="btn-primary" >Event Handlers</button></a> &nbsp;
<a href="/conditionalsInfo"><button class="btn-primary" >Conditionals</button></a>
<H3>Reading</H3>
<ul>
<li><a href="/assets/pdf/forwardAndPreface.pdf">Book Preface</a></li>
<li><a href="/biblio">What is App Inventor? articles</a></li>
<li><a href="/Chapter1">Chapter 1. Hello Purr</a> (similar to <em>I Have a Dream</em>)</li>
<li><a href="/Chapter14">Chapter 14. App Architecture</a></li>
<li><a href="/Chapter16">Chapter 16. Conditionals </a></li>						
</ul>
</div>
<div class="span5">
<H3>Teachers</H3>
<ol>
<li><a href="https://docs.google.com/document/d/1ODbIWIJ9EMiiECpJlRi5zxnrv-_cTJnHyOBB0MGV2As/edit">
Lesson Plan 1.1: App Inventor Introduction and the "I Have a Dream" app.</a></li> 
<li><a href="https://docs.google.com/document/d/1WhDuh-eaax7k52PnkZ4B0MYxHtb9D3CPawLZKrkcTf0/edit">
Lesson Plan 1.2: "I Have a Dream":Conceptualize, Customize, and Create.</a> </li>
</ol>
</div>
</div>	
<a name="Mod2"></a>	
<hr>

<H2>Module 2: Build Drawing, Animation, and Game apps</H2>
<div class="row-fluid">
<div class="span7">
<ol>
<li><a href="/Drawing">Nugget: Drawing Objects</a></li>
<li><a href="/Variables">Nugget: Variables</a></li>
<li><a href="/paintpot2-steps">PaintPot Tutorial</a></li>
<li><a href="https://docs.google.com/document/d/1Z2qInms4ljksa_y-1DmwfjvloaeCL_s2DZbwKFwVNsY/edit#heading=h.bi2ofcodvpg">
PaintPot: Conceptualize and Customize</a></li>
<li><a href="/Quiz2">Quiz 2</a></li>
<br/>
<li><a href="/incrementing">Nugget: Incrementing Values</a></li>
<li><a href="/TimedActivity">Nugget: TimedActivity</a></li>
<li><a href="/AndroidMash-steps">MoleMash Tutorial</a></li>
<li><a href="https://docs.google.com/document/d/1IgKiNpPMWlspEwi5LRehjBHAQaFR_aUHsJNhfeuTT2c/edit?usp=sharing">
MoleMash: Conceptualize and Customize</a></li>
<li><a href="/Quiz3">Quiz 3</a></li>
<br/>

<li><a href="/sprites">Nugget: Animation with Image Sprites and their Internal Timers</a></li>
<li><a href="https://docs.google.com/document/d/1U7K6w02tIugKujQbH2RIyxMQCFuEgIWtg3Zlu2d-Gu0/">Animation Challenge</a></li>
<li><a href="/pong-steps">Pong Tutorial</a></li>
<li><a href="/Quiz4">Quiz 4</a></li>
<li><a href="https://docs.google.com/document/d/18hrgkZIsLi-N-QaiZbSksExp8PANjg5UbbzFfR80gXw/">Creative Project: Game</a></li>

</ol>
<H3>Key Concepts</H3>
<a href="/Drawing"><button class="btn-primary" >Drawing</button></a>
<a href="/incrementing"><button class="btn-primary" >Incrementing</button></a> 
<a href="/TimedActivity"><button class="btn-primary" >Timed Activity</button></a>
<a href="/sprites"><button class="btn-primary" >Sprite Animation</button></a>
<a href="/Variables"><button class="btn-primary" >Variables</button></a>
<H3>Reading</H3>
<ul>
<li><a href="/Chapter2">Chapter 2. PaintPot</a></li>
<li><a href="/Chapter16">Chapter 16. Programming an App's Memory</a></li>
<li><a href="/Chapter3">Chapter 3. MoleMash</a></li>
<li><a href="/Chapter5">Chapter 5. Ladybug Chase</a></li>
<li><a href="/Chapter17">Chapter 17. Animated Apps</a></li>
</ul>
</div>
<div class="span5">
<H3>Teachers</H3>
<ol>
<li><a href="https://docs.google.com/document/d/1aPYyhApDjeT8Mj39IegILDe__MksaOpaX2ppEIO_Cmc/">
Lesson Plan 2.1: PaintPot Tutorial, Conceptualization, Customization</li>
<li><a href="https://docs.google.com/document/d/1--22_4MLY1dBV4yw0TcnBvMRGvLzw1gwa0Y5Vr1_dgI/edit#">
Lesson Plan 2.2: MoleMash Tutorial, Conceptualization, Customization</li>
<li><a href="https://docs.google.com/document/d/1Ik4ResmYS9wWVnKOcVxvFHtRwO9y0DYpfgOlSAurp-I/edit?usp=sharing">
Lesson Plan 2.3: Animated Movement and Creative Game Project</a></li>

</ol>
</div>
</div>	
<a name="Mod3"></a>	
<hr>

<H2>Module 3: Build Apps with Texting and Location Sensing</H2>
<div class="row-fluid">
<div class="span7">
<ol>
<li><a href="http://explore.appinventor.mit.edu/content/google-voice">Don't have service on your phone? Use Google Voice</a></li>
<li><a href="/Lists">Nugget: Lists</a></li>
<li><a href="/Persistence">Nugget: Persistence</a></li>
<li><a href="/notext-steps">No Texting While Driving Tutorial</a></li>
<li><a href="https://docs.google.com/document/d/1R9eoiyxnCZtNV3eisxkJGuG-l7EVB-p7oys-qBA_SzA/">
Texting: Conceptualize and Customize</a></li>

<li><a href="/locationLesson">Location Lesson</a></li>
<li><a href="/location">Nugget: Where am I?</a></li>

<li><a href="https://docs.google.com/document/d/1b67_OlKzYfoUPOhHEUw_ivOiFxBXGX3BMpD08ueZWAM/">
Location: Conceptualize and Customize</a></li>


<li><a href="/externalInteractionProject">Creative Project: Texting and Location</a></li>
<li><a href="/Quiz5">Quiz 5</a></li>
</ol>
<H3>Key Concepts</H3>
<a href="/Lists"><button class="btn-primary" >Processing a list</button></a> &nbsp;
<a href="/persistence"><button class="btn-primary" >Persistence</button></a>
<a href="/location"><button class="btn-primary" >Location</button></a>
<H3>Reading</H3>
<ul>
<li><a href="/Chapter4">Chapter 4: No Texting While Driving</a></li>
<li><a href="/Chapter7">Chapter 7: Android, Where's My Car?</a></li>
<li><a href="/Chapter22">Chapter 22: Working with Databases</a></li>
<li><a href="/Chapter23">Chapter 23: Sensors</a></li>
</ul>
</div>
<div class="span5">
<H3>Teachers</H3>
<ol>
<li><a href="https://docs.google.com/document/d/1K3zz9cTbL9MsbZH6JkLfPxoTtlCEsPnznDvQoigPkFg">
Lesson Plan 3.1: Texting</li>
<li><a href="https://docs.google.com/document/d/16eR_g8oez2vjXDQtiTFMfj1FNNSxuOujQMwBa4GifR8/">Lesson Plan 3.2: Location-Aware Apps</a></li>

</ol>
</div>
</div>
<a name="Mod4"></a>	
<hr>
<H2>Module 4: Build Quizzes and other Informational Apps</H2>
<div class="row-fluid">
<div class="span7">
<ol>
<li><a href="https://docs.google.com/document/d/1hGTy3hRJG3CuVUBJY9W0w7taFiXma_qm6zoNIfN8aSY/edit">Pre-Test: Incrementing Values and Defining Variables</a></li>
<li><a href="https://docs.google.com/document/d/1KhtOZLB-2b-PeRNCeMwwBLNI81Asa8uTaCpqO-31w20">Slideshow Fixer-Upper</a></li>
<li><a href="/UserListNav">Nugget: User-Initiated List Iteration</a></li>
<li><a href="https://docs.google.com/document/d/1uZAumHBz_Df2ZJhgelbxqM2VXONmQxNeomIgaYOI5A8/">Slideshow: Conceptualize and Customize</a></li>

<li><a href="/presidentsQuiz2-steps">President's Quiz Tutorial</a></li>
<li><a href="/quizProject">Creative Project: Quiz</a></li>
<li><a href="/Quiz6">Quiz 6</a></li>
<li><a href="/TimedLists">Nugget: Timed Lists</a></li>
<li><a href="/Quiz7">Quiz 7</a></li>
</ol>
<H3>Key Concepts</H3>
<a href="/UserListNav"><button class="btn-primary" >Iterating through a list (user-initiated)</button></a> &nbsp;
<a href="/TimedLists"><button class="btn-primary" >Iterating through a list (timed)</button></a> &nbsp;
<H3>Reading</H3>
<ul>
<li><a href="/Chapter8">Chapter 8: President's Quiz</a></li>
<li><a href="/Chapter19">Chapter 19: Programming Lists</a></li>
</ul>
</div>
<div class="span5">
<H3>Teachers</H3>
<ol>
<li><a href="https://docs.google.com/document/d/1FNat-_1H3_EAwvkLgKbArP7Hywf49s6EshjUpkv_9_Y">
Lesson Plan 4.1: Slideshow</a></li>
<li><a href="https://docs.google.com/document/d/1T6KdlGRCKQljuKWtUxcqqUUZBfkDSBb_xnEPItQ-bms">
Lesson Plan 4.2. Slideshow: Conceptualize and Customize</a></li>
<li><a href="https://docs.google.com/document/d/1aQ1cE0NBzc-L4J35xPYUJn8CFAHBMcRSN2i5X0RH41E">
Lesson Plan 4.3. Quiz Tutorial</a></li>

</div>
</div>
<a name="Mod5"></a>		
<hr>
<H2>Module 5: Create New Blocks-- Define Procedures</H2>
<div class="row-fluid">
<div class="span7">
<ol>
<li><a href="/proc">Nugget on Procedures</a></li>
</ol>
<H3>Key Concepts</H3>
<a href="/proc"><button class="btn-primary" >Defining Procedures</button></a> &nbsp;
<H3>Reading</H3>
<ul>
<li><a href="/Chapter21">Chapter 21: Defining Procedures</a></li>
</ul>
</div>
<div class="span5">
<H3>Teachers</H3>
<ol>
<li>coming soon...</li>
</ol>
</div>
</div>	

<a name="Mod6"></a>	
<hr>
<H2>Module 6: Build Apps with User-Generated Data</H2>
<div class="row-fluid">
<div class="span7">
<ol>
<li><a href="/recordItems">Nugget: Recording Items in a List</a></li>
<li><a href="/apps2/noteTaker/NoteTaker.pdf">NoteTaker Tutorial (ai2)</a></li>

<li><a href="/mathBlaster">MathBlaster Tutorial</a></li>
<li><a href="/quizProject">Creative Project: User-Generated Data</a></li>
</ol>
<H3>Key Concepts</H3>
<a href="/RecordingItems"><button class="btn-primary" >Recording items in a list</button></a> &nbsp;
<a href="/Persistence"><button class="btn-primary" >Persistence</button></a> 
<H3>Reading</H3>
<ul>
<li><a href="/Chapter11">Chapter 11: BroadcastHub</a></li>
<li><a href="/Chapter19">Chapter 19: Programming Lists (revisit)</a></li>
</ul>
</div>
<div class="span5">
<H3>Teachers</H3>
<ol>
<li>coming soon...</li>
</ol>
</div>
</div>	
<a name="Mod7"></a>	
<hr>
<H2>Module 7: Build Apps that Communicate with the Web</H2>
<div class="row-fluid">
<div class="span7">
<ol>
<li><a href="https://docs.google.com/document/d/12iMDmMtNPTTxSA804t2BVKC3bICu9m5F3kS_0pXFg18/edit#">App to Web Communication: Worksheet</a></li>
<li><a href="/apps2/stockMarket/StockMarketTutorial.pdf">Stock Market Tutorial</a> <a href="/stockMarket-steps"> video </a></li>
<li><a href="https://docs.google.com/document/d/1pIAAxzgAyWPrO-173FOIY4FZsqvY8raQQrUqPC1EB0k/edit#">Stock Market App: Conceptualize and Customize</a></li>
<li><a href="http://www.appinventor.org/MakeQuiz10#">TinyWebDB: Make/Take Quiz App set</a></li>
<li><a href="http://appinventor.mit.edu/explore/content/pizzaparty.html">Pizza Party Tutorial</a></li>
<li><a href="/Quiz9">Quiz 9</a></li>
</ol>
<H3>Reading</H3>
<ul>
<li><a href="/Chapter22">Chapter 22: Databases</a></li>
<li><a href="/Chapter24">Chapter 24: Communicating with the Web</a></li>
</ul>
</div>
<div class="span5">
<H3>Teachers</H3>
<ol>
<li>coming soon...</li>
</ol>
</div>
</div>

{% endblock %}