
{% extends "site_base.html" %}
{% block body %}
<H1>Introduction to GPS and Maps</H1>
<p>
The purpose of this worksheet is to explore location-aware apps. You will learn how location information is represented and also some Google maps functionality for showing locations in your app. 
<h2>Definitions</h2>
<p>
To begin, do some web research to ensure you know some of the basic definitions.
</p>

<ol>
<li>
What does GPS stand for, who developed it and where does the data come from?
</li>
<li>
What is latitude?
</li>
<li>
What is longitude?
</li>
</ol>
<h2>Work with Maps</h2>
<p>
Now go to <a href="http://maps.google.com" target="_blank">maps.google.com </a> and click on <strong>My Places</strong> then the link to maps labs. In Maps Labs, find the lat/long tooltip and enable it. After you do that, you can  hold the shift key down on a map and it will show lat/long on map. Use the map to answer the following questions:
</p>
<ol>
<li>
What is the GPS location of your birthplace.
</li>
<li>
What is you current location right now?</li>
<li>
What is the GPS location of Greenwich in the UK?
</li>
<li>
What is the GPS location of Quito, Ecuador?
</li>
<li>
Follow this link: 
<a href="http://maps.google.com/maps?saddr=38.59,-121.47&daddr=37.7,-122.47">maps.google.com/maps?saddr=38.59,-121.47&daddr=37.7,-122.47</a>
What does it show?
</li>
<li>
Determine the Google maps URL that shows directions from your birthplace to where you are now.
</li>
<li>
URLs are similar to function calls in App Inventor and other programming languages. Break down the Maps URL from the question above. What is the domain? What is the function name (the action)? What are the parameters and how are they specified?
</li>
</ol>


{% endblock %}