{% extends "site_base.html" %} {% block body %}




<section class="section">
	<div class="gen-container">
		<div class="row">
			<div class="col-sm-6 col-sm-push-6" style="margin-bottom: 24px;">
				<h1>Java Bridge Programming</h1>
				<p>The <i>App Inventor Java Bridge</i> is a Java library for building Android apps. It's much easier to learn  than 
				the Android SDK and it uses the same simple terminology as App Inventor. If you are an App Inventor programmer and want to transition to Java, the App Inventor Java Bridge is for you.</p>			
			</div>
			<div class="col-sm-6 col-sm-pull-6">
				<div class="youtube-embed-wrapper">
					<iframe src="https://www.youtube.com/embed/SEEznjguqBs?list=PLsxoqvm6HPQWiaY3ezjfzLe2zAWSlV5pG" frameborder="0" allowfullscreen></iframe>	
				</div>
			</div>
		</div>
	</div>
</section>



<section class="section jbridge-setup-section">
	<div class="gen-container">
		<div class="row">
			<div class="col-sm-6">
				<h1>Setup</h1>
				<p style="margin-bottom: 59px;">
					To start building apps with the Java Bridge, simply import the Java Bridge jar file into your Android project.	
				</p>	


				<p>Help importing Jar files</p>
				<div class="help-links">	
					<a href="" >Importing Jars into Android Studio <i class="fa fa-external-link"></i></a>

					<a href="http://www.oxfordmathcenter.com/drupal7/node/44" >Importing Jars into Eclipse <i class="fa fa-external-link"></i></a>
				</div>




				
			</div>
			<div class="col-sm-6 center-children">
				<a class="jbridge-download-btn" href="http://3nportal.com/AIBridge/AIBridge.jar">
					<i class="fa fa-arrow-down"></i>
					Download Java Bridge
				</a>
			</div>
		</div>
	</div>
</section>



<div class='gen-container'>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		

			

			<h2>Sample Apps</h2>
			<a href="/javaBridge/clickRed/Screen1.java">ClickRed</a> -- A simple app to demonstrate the form of a Java Bridge app, click a button to turn it red.

			<a href="/jBridgePaintPot">PaintPot</a> -- Draw on a picture you take with the camera! This app introduces the Canvas component, drawing commands, and variables.

			<a href="/jBridgeMoleMash">MoleMash</a> -- Click the mole to earn points! This app introduces Canvas, ImageSprite and Clocks timers.		

			<a href="/javaBridge/presidentsQuiz/Screen1.java">President's Quiz</a> -- A trivia app about US Presidents, you can customize to make your own quizzes. Learn about lists and how to index through a list.

			<a href="/javaBridge/stockMarket/Screen1.java">Stock Market App</a> -- Track your favorite stocks in real-time. Learn about the Web component and APIs.


			<h2>Tutorials</h2>
			<div class="module-contents-toc">
				<a>Red Click Eclipse</a>
				<a>Red Click Android</a>
				<a>Basics</a>
				<a>Mole Mash</a>
				<a>Paint Pot</a>
			</div>


			<a href=
"http://3nportal.com/AIBridge/API/">Java Bridge API documentation</a>


		</div>
	</div>
</div>





{% endblock %}

