
{% extends "site_base.html" %}
{% block body %}
   <iframe width="1200" height="800" frameborder="0" 
   src="http://www.mindmeister.com/maps/public_map_shell/374958360/mobile-programming?width=1000&height=600&z=auto"
    scrolling="no" style="overflow:hidden">Your browser is not able to display frames.  
    Please visit the <a href="http://www.mindmeister.com/374958360/mobile-programming" 
    target="_blank">mind map: Mobile Programming</a> on <a href="http://www.mindmeister.com" 
    target="_blank">Mind Mapping - MindMeister</a>.</iframe>


{% endblock %}