
{% extends "site_base.html" %}
{% block body %}
<H1>Love You Persistently Worksheet</H1>
<br/>
<ol>
<li>
Define 'persistent data'.<br/><br/><br/>
</li>
<li>
In an App inventor app, how do you store data in short term memory? Long-term memory?<br/><br/><br/>
</li>
<li>Sketch the TinyDB database-- what's actually in the database after a StoreValue command?<br/><br/><br/>
</li>
<li>
In the <a href="/loveYouLesson">Love You app</a>, what data needs to be stored persistently and why? (consider the final version)<br/><br/><br/>
</li>
<li> Consider the following code:<br/>
<img src="/assets/img/persistenceIssue.png"/><br/>

a. The first time the app runs, what will the love message (customMessageTextBox1) be?<br/><br/><br/>


b. How could you fix the code so that there is a default message the first time app is run?<br/><br/><br/>
</li>
<li>
Open App Inventor and take a look at the PhoneNumberPicker component. How could you use this component to allow the user to choose the phone numbers for the love you message instead of typing them in? Sketch some blocks.</li>
</ol>

{% endblock %}
