{% extends "site_base.html" %}
{% block body %}
  
        <div class="span10">
            <div class="hero-unit">
                <h1>Media</h1>

                <p>Teaching business, humanities, and science majors to program mobile apps is a big deal, especially as our society becomes more digital. USF's success in teaching non-CS-majors has garnered some attention:
                </p>
            </div>

         </div>  
	<br/>
	<br/>
          
              
            <ul class="thumbnails">
  		<li>
    			<p>
      			<a href="http://www.businessweek.com/videos/2012-02-06/students-build-mobile-apps-in-class">Bloomberg BusinessWeek Video </a>
      			
      			, Professor Wolber and students Andrea Conway and Kelly Lazzara are interviewed.</p>
    		
  		</li>
		<li>
    			<p>
      			<a href="http://www.wired.com/magazine/2010/11/st_thompson_wereallcoders/">Coding for the Masses</a>
      			
      			, Wired Magazine's Clive Thompson features USF student Daniel Finnegan's app, <a href="/no-text-while-driving">No Text While Driving</a></p>
    		
  		</li>
		
		<li>
		<p> 
		<a href="http://radar.oreilly.com/2011/06/google-app-inventor-programmers-mobile-apps.html">The Ascendence of App Inventor,</a> Professor Wolber is interviewed by O'Reilly Radar.</p>
		</li>

		<li>
		<p> 
		<a href="http://www.nytimes.com/2010/07/12/technology/12google.html?_r=2&th&emc=th">Google's Do-It-Yourself App Creation Software</a> USF student work is cited in this New York Times Article.</p>
		</li>

		<li>
		<p> 
		<a href="http://techcrunch.com/2010/07/12/android-app-inventor-demo/">It's Alive! Taking Android's App Inventor for a Spin</a> USF's course is cited in this Tech Crunch Article</p>
		</li>

		<li>
		<p> 
		<a href="http://www.sfgate.com/cgi-bin/article.cgi?f=/c/a/2009/12/10/BUL91B272R.DTL">Google Brings App Making to the Masses</a> USF's course is featured in the San Francisco Chronicle's SFGate</p>
		</li>
		</ul>
		<br/>
    	
   <div id="media-citations">

            <div class="span2">
                <a href="http://radar.oreilly.com/2011/06/google-app-inventor-programmers-mobile-apps.html">
                    <img src="/assets/img/logos/oreilly_radar.jpeg" class="logo"/>
                </a>
            </div>

            <div class="span2">
                <a href="http://www.wired.com/magazine/2010/11/st_thompson_wereallcoders/">
                    <img src="/assets/img/logos/wired-logo.gif" class="logo"/>
                </a>
            </div>

            <div class="span2">
                <a href="http://www.nytimes.com/2010/07/12/technology/12google.html?_r=2&th&emc=th">
                    <img src="/assets/img/logos/nytimes.jpeg" class="logo"/>
                </a>
            </div>

            <div class="span2">
                <a href="http://techcrunch.com/2010/07/12/android-app-inventor-demo/">
                    <img src="/assets/img/logos/techcrunch.jpeg" class="logo"/>
                </a>
            </div>

            <div class="span2">
                <a href="http://tech.fortune.cnn.com/2010/07/12/googles-app-inventor-will-lead-to-an-app-explosion/">
                    <img src="/assets/img/logos/cnnmoneydotcom.gif" class="logo"/>
                </a>
            </div>

            <div class="span2">
                <a href="http://www.sfgate.com/cgi-bin/article.cgi?f=/c/a/2009/12/10/BUL91B272R.DTL">
                    <img src="/assets/img/logos/sfchron.jpeg" class="logo"/>
                </a>
            </div>
</div>    			
      			


                





                


            

            </div>

        </div>





        </div>
   <hr>

    <footer>
        <p>© Company 2012</p>
    </footer>

    </div>
    <!--/.fluid-container-->
        

{% endblock %}