{% extends "site_base.html" %}
{% block body %}

            <div class="hero-unit">
                <hgroup>
                    <h1>Module 5<small>&nbsp;&nbspShared Data</small></h1>
                    <h1></h1>
                    <p>
                        This module introduces students to apps with shared data (This module is under construction )                   </p>
                </hgroup>
            </div>
            
            <p>
               Shared data is data stored in a database and accessed by multiple devices. App Inventor provides two high-level components, TinyWebDB and Fusion Tables, which simplify the task of creating an app with a shared, web database. In this module, you will learn how to use TinyWebDB as well as Google Fusion Tables to build apps.
            </p>





            <br/>
<h3>Session 1</h3>
<a href="/webDatabase">Web Databases: An Introduction</a>
<p>A discussion of the difference between TinyDB and TinyWebDB, and some video lessons showing how to build an app with web data</p>
  <h3>Session 2</h3>
		    
<a href="/makequiz-and-takequiz-1-steps">Build a Quiz Maker app</a><br/>
<a href="/Quiz9">Quiz 9</a><br/>
<h3>Session 3</h3>
<a href="http://appinventor.mit.edu/explore/content/pizzaparty.html">Fusion Tables and the Pizza Party Sample </a> (credit: Ralph Morelli)		
	
        </div>



    </div>
</div>



{% endblock %}