{% extends "site_base.html" %}
{% block body %}


                    <div class="hero-unit">
                        <hgroup>
                            <h1>Module 1<small>&nbsp;&nbsp;Introduction to Event-Driven Apps</small></h1>
                            <h1></h1>
                            <p>
                                The introduction acclimates students with the App Inventor environment, leads them to building their
                                first apps, including HelloPurr and a painting app, and provides an introduction to event-handlers, function calls, conditionals, variables, and drawing canvases. The module culminates with a creative project in which the students create a soundboard app.
                            </p>
                        </hgroup>
                    </div>
                    
		    <div class="row-fluid">
		    
 		    <div class="span6">
		    <p>
		   <em>Programming concepts</em>: events, event handlers, function calls, parameters, variables
		    </p>
		    <p>
		   <em>Components</em>: Button, Sound, Canvas
		    </p>
		    

		    <br/>
		    <h3>Session 1</h3>
		    <ul>
			
				<li><a href="/appInventorIntro">Introduce App Inventor</a></li>
				<li><a href="/portfolio">Setup Portfolio</a></li>
				<li><a href="http://appinventor.mit.edu/explore/setup-mit-app-inventor.html">Setup App Inventor</a></li>
				
				<li><a href="/hellopurrLesson">HelloPurr: Build, Conceptualize, Customize</a></li>
				
				
		    </ul>	
		    Reading: <a href="/assets/pdf/forwardAndPreface.pdf">Forward and Preface</a>,<a href="/assets/pdf/ch14Architecture.pdf">Ch. 14. App Architecture</a>

		<h3>Session 2</h3>
				
		    <ul>		
				<li><a href="/appPage">Publishing your app</a></li>
				<li><a href="/introIf">Introduction to Conditional (If) Blocks</a></li>
				
			<li>Introduce  <a href="/soundboard">Creative Project: Soundboard</a></li>	

				
		    </ul>	
		     Reading: <a href="/assets/pdf/ch18Conditionals.pdf">Conditionals</a><br/>
		     <a href="Quiz1">Quiz 1</a><br/>
		    
		    <h3>Session 3</h3>
				
		    <ul><li><a href="/paintPotIntro">Introduction to Canvases</a></li>
				<li><a href="/paintpotLesson">PaintPot: Build, Conceptualize, Customize</a></li>
		
				

				
		    </ul>	
		    Reading: <a href="/assets/pdf/ch16Variables.pdf">Variables</a>	
		    <h3>Session 4</h3>
				
		    		
		    <a href="/soundboard">Creative Project: Soundboard</a></br>
		    <a href="Quiz2">Quiz 2</a><br/>

		    </div>
		    
		   <a href="http://sites.google.com/site/appinventorcourse/what-is-app-inventor"><br /></a>
		

                </div>


{% endblock %}