{% extends "site_base.html" %}
{% block body %}

            <div class="hero-unit">
                <hgroup>
                    <h1>Module 4<small>&nbsp;&nbsp;Data</small></h1>
                    <h1></h1>
                    <p>
                        This module first introduces students to lists with concrete data, using a quiz app as an example. The module then introduces apps with user-generated data, using a notetaking app and music recorder/player as examples. The module culminates with the Broadcast Hub, an app that combines user generated data with SMS texting and complex conditionals. Note that this module is a major conceptual leap forward as the introduction of user generated data leads to much more abstract apps.                    </p>
                </hgroup>
            </div>


 <p>
		   <em>Programming concepts</em>: lists, iteration, user generated data, more persistence
		    </p>
		    <p>
		   <em>Components</em>: Labels, Buttons, Clock, Sound, Texting
		    </p>
		    

		    <br/>


	    <h3>Session 1</h3>
	<ul>
<li>
		        <a href="/quizIntro">Introduction to Lists and Iteration</a>
</li>
<li>   
			<a href="/quizLesson">Quiz App: Build, Conceptualize, Customize</a></li>
<li>

<a href="/assets/pdf/ch19Lists.pdf">Programming Lists (ch 19, up to 273)</a><br/>
</li>
<li>
<a href="/Quiz6">Quiz 6</a>
</li>
</ul>

    	
	

	<h3>Session 2</h3>
<ul>
<li>
			<a href="/notetakerLesson">NoteTaker: Build Conceptualize, Customize</a>
</li><li>
			<a href="/userGenerated">User Generated Data: NoteTaker and Music Record and Playback app</a>
</li>
<li>
<a href="/Quiz7">Quiz 7</a>
</li>
</ul>		    	    
	<h3>Session 3</h3>
				
		    <ul>	
			<li><a href="/broadcaster-hub-1-steps">BroadcastHub: Build, Conceptualize, Customize</a></li>	
		    </ul>	
		  
	 



{% endblock %}