{% extends "site_base.html" %}
{% block body %}

            <div class="hero-unit">
                <hgroup>
                    <h1>Module X<small>&nbsp;&nbsp;Software Engineering and Procedural Abstraction</small></h1>
                    <h1></h1>
                    <p>
                        This module discusses procedures and modular programming. It is under construction.
                    </p>
                </hgroup>
            </div>

            <p>
                This module can fit in as early as
                module 2, depending on when you want to discuss procedures. This module also contains the chapter on engineering and
                debugging, which explains tracing programs and using some of the tools in the App Inventor environment like comments
                and watching variables.
            </p>
            
            <p>
                The MoleMash app in module 2 introduces procedures. I only briefly discuss
                procedures there, and wait until later in the semester to discuss fully. My reasoning is that procedures and
                parameters add a layer of complexity which beginners are not developmentally ready for in the first few weeks of
                class.. They can build small apps without them, and the event-handling blocks (when-do) provide modularity already
                (code is split between event-handling "procedures").
            </p>





            <br/>
		<h2>Chapters</h2>
		<ul>
	
                  <li><a href="/assets/pdf/ch21Procedures.pdf">Procedures (ch 21)</a></li>
                  <li><a href="assets/pdf/ch15Engineering.pdf">Engineering and Debugging (ch
                            15)</a></li>
		  <li><a href="/apps/molemash/molemash.pdf">Mole mash</a>, including p.47 on Procedural Abstraction.</li>
		</ul>
		<h2>Video</h2>
		  <ul>
		  <li><a href="/notetaker-steps">NoteTaker (parts 6 and 8)</a></li>
		  </ul>

        </div>



    </div>
</div>


{% endblock %}