{% extends "site_base.html" %}
{% block body %}

            <div class="hero-unit">
                <hgroup>
                    <h1>Module 6<small>&nbsp;&nbsp;Apps that Access Web Data</small></h1>
                    <h1></h1>
                    <p>
                        This module introduces APIs and accessing data from the web. The
                        students have already dealt with URLs in Module 3 when they access Google Maps. Here we go over apps that call an API
                        then process the data that is returned.
                    </p>
                </hgroup>
            </div>

            <p>
                The first app is a Stock Market app that gets data from Yahoo Finance.
                It works as a first foray into APIs because the data returned is a simple list of comma-separated data. It uses the Web
                component in App Inventor.
            </p>

            <p>
                Advanced students can go further and access
                more complex APIs. Here, you'll need to teach them XML or JSON parsing. I don't have examples of those. (This module is under construction)
            </p>





            <br/>
	    <h2> Resources</h2>
	    <ul>
	    <li>
            <a href="/stockmarket-steps">Stock Market</a>
	    </li>
	    <li>
	    <a href="http://appinventorapi.com">appinventorapi.com</a><br/>
            </li>
	    <li>
            <a href="http://oreilly.com/catalog/0636920016137/#video-preview">O'Reilly Video</a></li>

        </div>



    </div>
</div>



{% endblock %}