{% extends "site_base.html" %}
{% block body %}
      
        <h1>Quizzes</h1>
        <p class="lead">It is important to test your knowledge of the terminology and concepts of programming as you learn. The quizzes listed here were used in a beginning programming course at the University of San Francisco. They contain both short-answer conceptual questions and coding challenges. The coding challenges are designed for pen and paper sketch programming, which is a different beast than programming on the computer. Try them out, maybe discuss them with a study partner, and then check your answers with those provided. At USF, these were given as close book, closed note, closed computer tests with approximately 15-20 minutes allocated.</p>
        
    

   	 <div class="row-fluid marketing">
          <div class="span6">

          <h3>Quiz 1</h3>
          <p><a href="Quiz1">Android Ecosystem, Event-Handlers, and Conditionals</a></p>
   	  
	  <h3>Quiz 2</h3>
          <p><a href="Quiz2">Variables and Component Properties</a></p>
          
	  <h3>Quiz 3</h3>
          <p><a href="Quiz3">MoleMash: Canvases, ImageSprites, and Clock Timers</a></p>

 	  <h3>Quiz 4</h3>
          <p><a href="Quiz4">Animation</a></p>

          <h3>Quiz 5</h3>
          <p><a href="Quiz5">Maps, Location, and Persistence</a></p>
	</div>
	<div class="span6">
	   <h3>Quiz 6</h3>
          <p><a href="Quiz6">Lists and Indexes</a></p>

          <h3>Quiz 7</h3>
          <p><a href="Quiz7">Iteration over Time</a></p>

 	   <h3>Quiz 8</h3>
          <p><a href="Quiz8">Foreach, While, and APIs</a></p>

          <h3>Quiz 9</h3>
          <p><a href="Quiz9">Web Databases</a></p>
        </div> 

      </div>

                
    

  

    {% endblock %}
