
{% extends "site_base.html" %}
{% block body %}
<H1>Raffle App</H1>
<br/>

<h2> Description</h2>
<p>
The raffle app works like this: you ask your audience to text you. The app collects the phone numbers, then you click a button and a lucky number is called. Whoever's phone rings wins a prize!
</p>
<br/>
<img src="/apps/raffle/raffleAppBlocks.png"/><br/>

To get the blocks, download this <a href="/apps/raffle/RaffleApp.zip">zip file</a>, then open App Inventor and choose More Actions | Upload Source.
{% endblock %}