{% extends "site_base.html" %}
{% block body %}



   


        <div class="span9">
            <div class="hero-unit">
                <h1>Search Result</h1>
            </div>

            <br/>

            
<script>
  function() {
    var cx = '002873954108960030835:l3_jvzrakeu';
    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
  }();
</script>
<!-- Place this tag where you want the search results to render -->
<gcse:searchresults-only></gcse:searchresults-only> 


                    
                   



{% endblock %}


