{% extends "site_base.html" %}
{% block body %}

    <!-- HERO -->
    <div class="hero-unit">
        <div class="row-fluid">
            <div class="span12">
                <h1 style="font-size: 36px">App Inventor Setup</h1>
                <br/>
                <p style="font-size: 16px">This page describes how to setup your computer and phone for building apps with App Inventor. You can view the video or use the text instructions below. </p>

            </div>

            <div class="span1">
                &nbsp;
            </div>

            <div class="span4">
                &nbsp;
            </div>
            <!-- end span -->
        </div>
        <!-- end row -->
    </div>
    <!-- /HERO -->

<div class="row-fluid">
<iframe width="560" height="315" src="http://www.youtube.com/embed/PybIN-fDL70" frameborder="0" allowfullscreen></iframe>
</div>
    <div class="row-fluid">

    <div class="page-header">
        <h1 id="login">Login</h1>


    </div>

    <p>Open a browser to <a href="http://beta.appinventor.mit.edu">beta.appinventor.mit.edu</a> Login with your Google account.</p>

    </div>



    <div class="row-fluid">

    <div class="page-header">
        <h1 id="download">Download the App Inventor software<br/>

        </h1>

    </div>
    <p> App Inventor is mostly a cloud tool but it does require you to download some software to your computer.
    <ul>
        <li>In App Inventor, Click on the Learn link, then the Setup link, and setup your computer.</li>
        <li>Most computers have Java on them already, so for now ignore that step.</li>
        <li>Instead, go straight to Install the App Inventor Setup Software instructions and follow the link for the type of computer you have.</li>
        <li>If you have a MAC: Download the .dmg file and double click it. It may start the install process automatically. If not, look on your desktop and you'll see a mounted disk. Click it, then double click on the .pkg file within it. This will start the install process. After installation completes, you are ready to go.</li>
    </ul>

    </div>

    <div class="row-fluid">

    <div class="page-header">
        <h1 id="create">Create a new project, open the blocks editor<br/>
        </h1>

    </div>

    <ul>
        <li>Back in App Inventor (beta.appinventor.mit.edu in your browser) choose the New button on the far left to create a new project. Enter a name for the project. This will open the Component Designer. This is where you'll show how the app will look.</li>
        <li>In the Component Designer, click on Open Blocks Editor. A dialog should appear asking if you want to open or save a file named appinventorForAndroidCodeblocks.jnlp. If one option is to open it with Java Web Start, perfect, do so. The process will take up to a minute, so don't get impatient. If after a minute nothing has happened, look in your downloads folder to see if the file is there, and double click it.</li>
        <li>If the system doesn't ask you to open with Java Web Start, you probably need to configure your system with Java (go back to the Learn | Setup screen). </li>
        <li>The blocks editor is where you'll program the behavior of your app, e.g. what happens when the user clicks on a button.</li>
    </ul>

    </div>

    <div class="row-fluid">


    <div class="page-header">
        <h1 id="open">Open an emulator<br/>
        </h1>

    </div>

    <p>Once you've successfully opened the blocks editor, click on New Emulator. Click OK on the dialog that appears. In about a minute, an emulator (an on-screen phone) will appear.</p>

    </div>

    <div class="row-fluid">

    <div class="page-header">
        <h1 id="ready">Now you're ready to build an app<br/>
        </h1>

    </div>



    <p>Most people start with Hello Purr, an app in which touching the phone (or clicking the emulator) causes a cat to meow. Get started using this <a href="/hellopurr-steps">video tutorial</a></p>

    </div>











{% endblock %}
