{% extends "site_base.html" %}
{% block body %}

<article>

	<div class='full-width-background-blue-1-container'>
		<div class='course-page-container'>
			<div class='course-page-title-section '>

				<h2>App Inventor Starter Apps</h2>
			</div>
		</div>
	</div>
<div class='gen-container'>
	<div class='standard-section'>
<p>These starter apps  contain the media files needed for select tutorial apps.  Download the .aia file to your computer, 
then in App Inventor choose Project | Import and upload the file. You are then ready to follow the corresponding 
tutorial. to build the app.<br/>
<a href="/starterApps/IHaveADreamStarter.aia">IHaveADreamStarter.aia</a><br/><br/>
<a href="/starterApps/AndroidMashStarter.aia">AndroidMashStarter.aia</a><br/><br/>
<a href="/starterApps/PongStarter.aia">PongStarter.aia</a><br/><br/>
<a href="/starterApps/SlideshowStarter.aia">SlideshowStarter.aia</a><br/><br/>
<a href="/starterApps/PresidentsQuizStarter.aia">PresidentsQuizStarter.aia</a><br/><br/>
<a href="/starterApps/ASLCode.aia">ASLCode.aia</a><br/><br/>
<a href="/starterApps/LogoNoParamsTemplate.aia">LogoNoParamsTemplate.aia</a><br/><br/>
<a href="/starterApps/LogoWParamsTemplate.aia">LogoWParamsTemplate.aia</a><br/><br/>
</p>
</div>

	</div>
</article>

{% endblock %}





