{% extends "site_base.html" %}
{% block body %}

<h2>App Inventor Starter Apps</h2>
<p>These starter apps  contain the media files needed for select tutorial apps.  Download the .aia file to your computer, 
then in App Inventor choose Project | Import and upload the file. You are then ready to follow the corresponding 
tutorial. to build the app.</p>
<a href="/starterApps/IHaveADreamStarter.aia">IHaveADreamStarter.aia</a><br/><br/>
<a href="/starterApps/AndroidMashStarter.aia">AndroidMashStarter.aia</a><br/><br/>
<a href="/starterApps/PongStarter.aia">PongStarter.aia</a><br/><br/>
<a href="/starterApps/SlideshowStarter.aia">SlideshowStarter.aia</a><br/><br/>
<a href="/starterApps/PresidentsQuizStarter.aia">PresidentsQuizStarter.aia</a><br/><br/>
<a href="/starterApps/ASLCode.aia">ASLCode.aia</a><br/><br/>
<a href="/starterApps/LogoNoParamsTemplate.aia">LogoNoParamsTemplate.aia</a><br/><br/>
<a href="/starterApps/LogoWParamsTemplate.aia">LogoWParamsTemplate.aia</a><br/><br/>

{% endblock %}


