{% extends "site_base.html" %}
{% block body %}
        <div class="span9">
            <div class="hero-unit" style="background:#A4CA39">
                <h1>Teaching App Inventor</h1>
            </div>

            <br/>

            <div class="row-fluid">


            <p>
            App Inventor has great potential to transform Computer Science education. It is the most motivating
		    tool for engaging students with computing that I've seen, and I've been teaching
                    Computer Science for over twenty years!
                </p>


            </div>


            <div class="row-fluid">


                <div class="span6">

                    <p>
                        I first taught App Inventor in 2009 when Google ran the first App Inventor pilot
			at a few universities, including USF. The course is a core course that satisfies
                        USF's Math requirement. Many take the course because of their fear of Math, most arrive with zero programming experience. The students come from History, Literature,
                        Politics, Design, Business, and just about every major at USF.
                    </p>

                    <p>
                        Within a few minutes, students are able build apps for phones and tablets. This is incredibly motivating and empowering, and leads to a student-driven learning process in which the students spend hours in the lab working on projects. Often, I have
                        to kick
                        people out of class when the next class arrives. The students build interesting apps with real-world utility. And they improved their problem solving skills and
                        knowledge of computer science immeasurably.
                    </p>


                </div>

                <div class="span6 well">

                    <p class="lead" style="font-size: 12px; line-height: 16px; font-style: italic;">
                        This course helped me see how powerful modern technology really is. Before this class, I never
                        in a
                        million years thought that creating apps for phones was so accessible and simple to create/test.
                        I now
                        have a huge amount of respect for professional computer programmers and the people who program
                        very
                        complex applications for any device. I enjoy learning about computers much more because of this
                        class,
                        but I am also very intimidated by how gigantic the computing world is.
                    </p>

                    <h6 style="font-size: 8px; text-align: right;">
                        -- USF Student from CS 107: Computing, Robots, and the Web
                    </h6>
                </div>


            </div>

            <div class="row-fluid">


                <div class="span12">


                    <p>
                        I'm often asked by teachers if they should try App Inventor in the classroom instead of Scratch, Alice, Lego Mindstorms, or a
                        more
                        traditional programming experience like Python? My emphatic answer is YES! The key is this: (young) people
                        love
                        their phones, the phones are practically an extension of their bodies. The idea that they can
                        customize
                        and build new software for this most beloved device is incredible to them! Animations and robots
                        are
                        cool, but with App Inventor you can build anything, including apps that directly improve your
                        everyday
                        life (and those of your friends).
                    </p>

                    <p>
                        Couple this high-level of motivation with a visual "building block" method of programming
                        designed by
                        Google engineers, and you have a tool that can change not only how apps are developed, but who
                        develops
                        them.
                    </p>

                </div>


            </div>


        </div>
{% endblock %}


