{% extends "site_base.html" %} {% block body %}

<article>

	<div class='gen-container page-btm-spacer'>

		<div class="row">
			<div class="col-md-12">
				<div class="banner-headline">
					<h1>Teaching an App Inventor Course</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-2 col-md-8">

				<p>
					This page discusses methods used in Professor Wolber's USF course,
					"Computing, Mobile Apps, and the Web", which is a core (gen-ed)
					course targeting mostly Business and Humanities students. Much of
					the curriculum of the course is available in the <a
						href="/content/CourseInABox/Intro/courseinabox">AI
						course-in-a-box.</a>
				</p>


				<h2 class='center-children'>Build-Conceptualize-Customize-Create</h2>

				<div class='center-img-wrapper'>
					<img class='responsive-fullwidth-img'
						src="/assets/img/buildGraphic.png" />
				</div>

				<p>
					The course uses a "Build--Conceptualize--Customize--Create" model.
					Each module follows a <em>do-first</em> structure that has worked
					well in motivating students to learn.
				</p>
				<h3>Build</h3>
				<p>Introduce a topic but keep it brief. Within minutes, get the
					students building an interesting app, using a step-by-step
					tutorial.</p>
				<h3>Conceptualize</h3>
				<p>After the students complete the tutorial, break them into
					small groups to discuss conceptual questions about the app, then
					discuss as a class.</p>

				<h3>Customize</h3>
				<p>After the discussion session, assign customization tasks in
					which students add interesting features to the app they just built.</p>
				<h3>Create</h3>
				<p>After two or three iterations of the
					Build-Conceptualize-Customize process, give the students the
					freedom to choose an app of personal interest to them.</p>

				<h2 class='center-children'>A Creative Classroom</h2>
				<h3>Small-Group Discussion and Coding-On-Paper</h3>
				<p>A key part of the model involves breaking students into small
					groups for discussing concepts and coding-on-paper. When students
					code on the computer with App Inventor, they sometimes follow a
					tutorial or sample too mechanically, or get too much help from
					their peers. With coding-on-paper, they are led to slow down and
					contemplate their programming activities and the concepts behind
					them.</p>
				<p>I find that students are far more apt to join in the larger
					class discussion when they 1) have just tried to solve a problem,
					and 2) already been talking to their partner or group. Even a few
					minutes of small group problem-solving tends to turbo-charge the
					class discussions and get everyone involved.
				<p>I generally encourage students who are near the same level to
					work together. Pairing top students with students who are
					struggling can work, but in my experience it usually doesn't.
				<h3>Tracing Code</h3>


				<p>Besides conceptual and coding questions, I also have the
					students trace code. I have them draw "memory cells" for the
					pertinent properties and variables, then show how the data in the
					cells changes after each row of blocks. I'm never amazed when the
					"light-bulb" turns on during one of these sessions either in class
					or office hours.</p>


				<h3>Portfolio-Based Learning</h3>
				<p>One great thing about App Inventor is beginners can build
					useful and interesting apps. You can take advantage of this and
					significantly heighten motivation by having the students create
					portfolios of their work-- web sites that show off the apps they
					build in class. I strongly encourage students to show their apps to
					their friends and families, and think of their portfolios as
					something they can show prospective employers. I also encourage
					students, in their creative projects, to design and build apps to
					really be used by someone, and not just serve as a sample (this is
					easier said than done!)</p>
				<p>I run app contests throughout the semester and regularly have
					students demonstrate their apps to the class. In the fall semester,
					students demonstrate their final projects at the USF CS
					Department's "CS Night", which is attended by students, faculty,
					alums, and others from the university and broader community. It is
					quite interesting that beginners, most of whom are not CS majors,
					are able to build interesting enough apps to demo alongside the
					Senior and Master project class students! Needless to say the alums
					are blown away and the upper-class students are jealous: "why
					didn't we get to do such cool stuff when we started?"</p>
				<h3>Student-Centered Course Website</h3>
				<p>
					My <a href="https://sites.google.com/site/cs107f14/students">course
						website</a> shows pictures of the students. When you click a picture,
					it brings you to the student's portfolios where you can see the
					apps they've built. The students submit their creative projects by
					posting them to their Google Site. The course site and students
					sites are built with Google Sites, which is convenient. I haven't
					done a great job providing templates, or requiring that students
					beautify their app pages, so the sites don't look great. Providing
					such templates and a process/tool to build this would be great both
					for the students and for promoting the class and the student work.
				</p>
				<h3>App Inventor Gallery as a Learning Studio</h3>
				<p>
					There is an App Inventor Gallery at <a
						href="http://gallery.appinventor.mit.edu">Gallery.appinventor.mit.edu</a>.
					The Gallery provides a method for students to share their apps with
					the broader community and learn from the apps of others. Students
					publish their apps there and download the apps of others for
					remixing. Think of the gallery as an open-source, on-line learning
					studio.
				</p>
				<p>We are currently working with MIT to integrate a gallery into
					MIT App Inventor, an event that will make the gallery and sharing
					an integral part of the App Inventor experience. The integrated
					gallery is slated to be deployed by the end of July, 2014. In the
					meantime, I strongly encourage you to use the current gallery.</p>

				<h3>Quizzes and Code Camp</h3>
				<p>I give the students a 20-minute quiz just about every week of
					the semester. The students can attend code-camp and earn 1/2 the
					points they miss on each quiz. Code-camp is essentially office
					hours in which students "program" on the whiteboard with myself and
					other students watching/commenting. I assign them the problems they
					missed on the quiz or similar ones, or advanced ones if they seem
					ready for it. It works out great because whiteboard programming
					forces the students to think through a problem and really
					understand the code they write.</p>
				<p>I have evolved to frequent quizzes over mid-terms because of
					the "builds-on-itself" nature of (App Inventor) programming. Like
					Math, if you get behind, it is very difficult to catch up,
					especially for beginners who are primarily from the Business and
					Humanities schools. The frequent quizzes and code-camps have really
					worked in terms of getting students in early to office hours
					instead of after a first midterm weeks into the semester.</p>
			</div>

		</div>
	</div>
</article>


{% endblock %}
