{% extends "site_base.html" %}
{% block body %}
<title>Timed Activity</title>
    <h1>Timed Activity</h1>
    <div class="row-fluid">

         
        
        <div class="span6">
          <iframe src="/assets/pdf/TimedActivity.pdf" width="600" height="1000"> </iframe>
          
        </div>
        <div class="span4">
          <iframe  width="560" height="315" src="//www.youtube.com/embed/yp_CUcOPUyw" 
          frameborder="0" allowfullscreen></iframe>
        </div>

       

    </div>     


{% endblock %}