{% extends "howdoyouTemplate.html" %}

			{% block title %} Timed Activity: How do you repeat an action, pausing between each iteration?{% endblock %}
			{% block description %}How do you program time? How do you program animation? With many programming languages, concepts like animation are pushed back in the curriculum-- you might not get there until a year or two
    of coursework. With App Inventor’s event-based approach, you can explore timed activity and animation as a beginner. The high-level Clock component serves as an alarm clock, and you use its Timer
    event to trigger timed activity. Check out the following examples:{% endblock %}
{% block question %} Example 3. How do you move a spaceship smoothly across the screen?{% endblock %}
{% block answer %}
 <p>
            The spaceship’s <span class="empfont">X</span> coordinate defines its horizontal location. On each timer event, the <span class="empfont">X</span> coordinate is increased and the spaceship
            appears further to the right. If the <span class="empfont">Clock.TimerInterval</span> property is set to the default of 1000 ms, then the ship will move every one second, a very choppy
            motion. Typically, for this type of animation, you’ll set the timer interval to something like 40 ms.
        </p>
{% endblock %}

{% block answerImage %} "/assets/img/TimedActivity/spaceshipmove.png" {% endblock %}
{% block answerVideo %} "//www.youtube.com/embed/zMhx87cyZus" {% endblock %}
{% block otherExampleLink %} <a href="/content/howDoYou/timedActivity/frame">example 4</a> {% endblock %}


