{% extends "howdoyouTemplate.html" %}

{% block title %}User List Navigation: How do you step through a list of information?{% endblock %}
{% block description %}
		App Inventor provides a <span class="empfont">for each</span> block for processing a list of information 
			all at once. But what if you have an app, such as a slideshow, in which the 
			user controls the movement through the list?  To program this behavior, you’ll 
			use an index variable to keep track of your position in the list. Check out 
			the following examples:
{% endblock %}
{% block question %}Example 1. How do you create a slideshow so the user clicks to get to 
		  the next picture?{% endblock %}

{% block answer %}
<p>
			In this example, the user clicks a button to sequence through a slideshow of 
			pictures. The pictures are in the media files pic1.jpg, pic2.jpg, and 
			pic2.jpg, all of which have been loaded into the app. The variable 
			<span class="empfont">index</span> is 
			defined to keep track of the current picture the user is viewing. When the 
			user clicks “Next”, the index is checked to see if the user has gone too far. 
			If index is less than the length of the list (3 in this case), then the index 
			is incremented and the next picture file is placed into <span class="empfont">Image1.Picture</span>.
			</p><p>
			Let’s walk through this example. Assume that pic1.jpg is showing to start. 
			When the user clicks “Next”, index is checked and is less than the length of 
			the list (1<3). So <span class="empfont">index</span> is incremented from its initial value, 1, to 2, and 
			pic2.jpg is selected and displayed.
			</p><p> 
			The next time the user clicks “Next”, 
			<span class="empfont">index</span> is 2 so it is still less than 3, so <span class="empfont">index</span> is incremented to 3 and 
			the third picture, “pic3.jpg”, is displayed. 
			</p><p>
			When “Next” is clicked again, 
			index is 3 so the if-test fails. The blocks within the <span class="empfont">if</span> are not executed, 
			so nothing happens. In fact, the user can continue to click “Next” forever 
			with no effect. 
			</p>
{% endblock %}

{% block answerImage %} "/assets/img/userListNav/nextButton.png" {% endblock %}
{% block answerVideo %} "//www.youtube.com/embed/7jD2aSlTcj0" {% endblock %}
		{% block otherExampleLink %} <a href="/content/howDoYou/ListNav/prev">example 2</a> {% endblock %}


