.dashboard-box {
    width: 75%;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
    padding: 10px;
    border: 1px #2d2d2d solid;
    border-color: rgba(1, 1, 1, 0.1);
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(1, 1, 1, 0.1);
    text-align: center;
}

.dashboard-item {
    text-align: center;
    min-width: 27%;
    min-height: 180px;
    border-radius: 20px;
    margin: 20px;
    border: 1px solid #B4DBE4;
}

.dashboard-item:hover {
	background-color: initial;
}

.dashboard-item p {
    margin-top: 20px;
    font-weight: 900;
}

/* Stylings used in the course system editor */
.back-nav-link {
    cursor: pointer;
    color: gray;
    margin-left: 50px;
}

.new-something-form-box {
    padding-left: 50px;
    padding-right: 20px;
}

.new-something-form-box-title {
    line-height: 70px;
}


.export-container, .import-container {
    text-align: center;
    margin-top: 70px;
}

.export-container a {
    margin-top: 20px;
}


.hidden_input {
    height: 0px;
    width: 0px;
}

.loading-icon {
  display: none;
  margin: auto;
  font-size: 60px;
  margin-top: 20px;
}

.loading-icon.visible {
    display: block;
}