/*--------------TABLES---------------*/

table {
  width: 50%;
  border-collapse: collapse;
  border: 3px solid black;
}

thead tr th {
  word-spacing: 10px 50px;
  text-align: left;
  background-color: black;
  border-spacing:10px 50px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;

}

td { 
  word-spacing: 10px 50px;
  height: 20px;
  border-spacing:10px 50px 10px 50px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border: 3px solid black;
}

/*---------------END TABLES------------*/



/*--------------FIGURES-----------------*/



/*--------------END FIGURES-------------*/