{% extends "introtemplate.html" %} 
{% block title %} Introduction {% endblock %} 

{% block description %}
<head>
<meta charset="UTF-8">
</head>
<p>In this first module, you’ll be introduced to App Inventor and
	learn the basics of app building. You’ll learn how to design the user
	interface for an app, and how to code the blocks that specify the app’s
	interactive behavior. You’ll learn how to code blocks that specify how
	an app responds to events, and you’ll learn about conditional blocks
	that allow an app to make decisions. You’ll build the “I Have a Dream”
	app that plays speeches by Martin Luther King and Malcolm X, and you’ll
	build your first creative app.</p>

{% endblock %} 

{% block card %}
<h2>Learning Objectives</h2>

<ul>
	<li>Learn the mechanics of using App Inventor to build apps.</li>
	<li>Learn how to design an app’s user interface with the App
		Inventor Designer, and its behavior with the Blocks Editor.</li>
	<li>Understand that an app’s behavior consists of event handlers--
		blocks that specify how an app responds to each event.</li>
	<li>Understand that an app can make decisions using a conditional
		(if) block.</li>
	<li> Understand that a component has a set of properties and that a property
	is a memory cell that can be changed to modify how a component looks and behaves.
	</li>
	<li>Learn how to test an app, how to deploy it to a device, and
		how to publish it on a portfolio and the App Inventor Gallery.</li>


</ul>
{% endblock %}

