{% extends "introtemplate.html" %} {% block title %} Texting and
Location Aware Apps {% endblock %} {% block description %}
<head>
<meta charset="UTF-8">
</head>
<p>In this module, you’ll learn how to create social,
	location-sensitive apps that use some high-tech components including
	the Texting, LocationSensor, and WebView components. You’ll build a
	“Missing You” app that texts a list of friends with one click, a “No
	Texting While Driving” app that auto-responds to text messages, a
	“Where Am I?” app that identifies your location and shows it on a map,
	and you’ll be exposed to persistent (database) data and the Web Viewer
	component.</p>

{% endblock %} {% block card %}
<h2>Learning Objectives</h2>

<ul>
	<li>Learn to build apps that send texts and process incoming
		texts.</li>
	<li>Understand how to create a list of data and process its items
		using a for each loop.</li>
	<li>Understand how to use GPS to obtain the device’s location
		information.</li>
	<li>Learn the basics of persistent data and the TinyDB component.</li>
	<li>Learn how to show web pages, including maps, within an app.</li>
	<li>Understand the basics of how URLs work and how to build them
		programmatically to show dynamic information (e.g., a map of your
		current location).</li>


</ul>

{% endblock %}
