{% extends "introtemplate.html" %} {% block title %} Quizzes and
Informational apps {% endblock %} {% block description %}
<head>
<meta charset="UTF-8">
</head>
<p>In this module, you’ll learn how to process lists of information
	using an index to "walk" through the list. Be ready-- this module
	presents a conceptual challenge and more abstract coding than the
	previous modules. You’ll create a slideshow app and a quiz app.</p>

{% endblock %} {% block card %}
<h2>Learning Objectives</h2>

<ul>
	<li>Understand what an index variable is and how it is used to
		traverse a list of information.</li>
	<li>Learn how to use the ListPIcker component to let a user choose
		an item.</li>
	<li>Gain a basic understanding of complex data and in particular
		lists of lists.</li>
	


</ul>
{% endblock %}

