{% extends "introtemplate.html" %} 
{% block title %} Drawing and
Animations Introduction {% endblock %} 


{% block description %} 

	<p>In this section, you will learn about animation, drawing, and game making with the <b>Canvas Component</b>. You will be building a painting app, 
	a molemash style arcade game, an animation challenge app, and your own pong app.</p>

{% endblock %}



{% block card%}
<h2>Learning Objectives</h2>

<ul>
	<li>Understand how the Canvas Component works and the different
		function calls it has.</li>
	<li>Understand what variables are, how to create them, and where
		to use them in building apps.</li>
	<li>Create a Paint Pot style app where users can draw on a Canvas.</li>
	<li>Understand how to add and subtract numbers.</li>
	<li>Learn how to use the Clock Component for timers and to move
		the mole in Mole Mash.</li>
	<li>Understand how animation works and how to animate sprites by
		using both the Clock and internal sprite propertiesS.</li>
	<li>Create Pong!</li>
	<li>Create your own game!!!</li>
</ul>

{% endblock %}

{% block link%}
<a href="/canvasComponent"><h1 class="btnNav">
Click Here to Begin!</h1></a>
{% endblock %}

