{% extends "introtemplate.html" %} 
{% block title %} Procedures {% endblock %} 

{% block description %}
<head>
<meta charset="UTF-8">
</head>
<p>In this module, you’ll learn how to better organize your apps by
	defining procedures and breaking down your app into parts. You'll learn
	about a key topic in computer science and software engineering--
	procedural abstraction. You’ll work with a pre-defined Logo graphics
	package to create some apps that draw complex pictures.</p>

{% endblock %} {% block card %}
<h2>Learning Objectives</h2>

<ul>
	<li>Understand the concept of procedural abstraction.</li>
	<li>Learn how to define and call a procedure in App Inventor.</li>
	<li>Understand what a parameter is and why parameters make
		procedures more reusable.</li>
</ul>
{% endblock %}

