{% extends "introtemplate.html" %} {% block title %} Drawing and
Animations Introduction {% endblock %} {% block description %}
<head>
<meta charset="UTF-8">
</head>
<p>In this module, you’ll learn about drawing, animation, and
	game-making and you’ll become familiar with the Canvas, ImageSprite,
	and Clock components. You’ll build a Painting app and two classic
	arcade games, MoleMash and Pong.</p>

{% endblock %} {% block card%}
<h2>Learning Objectives</h2>

<ul>
	<li>Understand how to build apps that let the user draw on a
		canvas.</li>
	<li>Learn that a variable is used to remember information, and how
		to create and use variables in App Inventor.</li>
	<li>Understand how to program an app to do Math, e.g.,
		incrementing a score.</li>
	<li>Learn the basics of animation and how to use the Clock
		component and ImageSprite properties to animate objects.</li>
	<li>Learn the basics of coding randomness, e.g., an object
		appearing in a random place.</li>
	<li>Become familiar with the Canvas, ImageSprite, and Clock components.</li>

</ul>

{% endblock %}

