{% extends "introtemplate.html" %} 
{% block title %} Build Web-Enabled
Apps {% endblock %} 

{% block description %}
<head>
<meta charset="UTF-8">
</head>
<p>In this module, you’ll learn the basics of building “cloud” apps,
	that is, apps which a web database that is shared by all app users.
	You’ll learn how to create your own web database, and you’ll also
	explore apps that communicate with pre-existing web information sources
	(APIs).</p>

{% endblock %} {% block card %}
<h2>Learning Objectives</h2>

<ul>
	<li>Understand what a web-enabled (cloud) app is.</li>
	<li>Learn to use the TinyWebDB and Fusion tables to store web data.</li>
	<li>Learn to use the Web component to communicate with an API.</li>



</ul>

{% endblock %} 
